<h2>没有部署。</h2>
<div ng-if="row.imageChangeTriggers.length">
  一个新的部署将会自动运行，当
  <span ng-if="row.imageChangeTriggers.length === 1">
    一个镜像被拉入
    <a ng-href="{{row.urlForImageChangeTrigger(row.imageChangeTriggers[0])}}">
      {{row.imageChangeTriggers[0].imageChangeParams.from | imageObjectRef : row.apiObject.metadata.namespace}}</a>.
  </span>
  <span ng-if="row.imageChangeTriggers.length > 1">
    部署配置关联的所有镜像有一个变更。
  </span>
</div>
<div ng-if="!row.imageChangeTriggers.length">
  <p>
    没有部署在 {{row.apiObject.kind | humanizeKind}}
    <a ng-href="{{row.apiObject | navigateResourceURL}}">{{row.apiObject.metadata.name}}</a>.
  </p>
  <div ng-if="row.apiObject.kind === 'DeploymentConfig'">
    <div ng-if="pipeline = row.pipelines[0]">
      <p>
        这个部署配置是管道的一部分
        <a ng-href="{{pipeline | navigateResourceURL}}">{{pipeline.metadata.name}}</a>.
      </p>
      <div ng-if="row.showStartPipelineAction()">
        <button class="btn btn-primary" ng-click="row.startBuild(pipeline)">
          开启管道
        </button>
      </div>
    </div>
    <div ng-if="!row.pipelines.length">
      <button ng-if="row.deploymentConfigsInstantiateVersion | canI : 'create'"
              class="btn btn-primary"
              ng-click="row.startDeployment()">
        开始部署
      </button>
    </div>
  </div>
</div>
