<div class="modal-add-config-to-application">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="ctrl.onCancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">添加到应用</h1>
  </div>
  <form name="addToApplicationForm" novalidate>
    <fieldset ng-disabled="disableInputs">
      <div class="modal-body">
        <legend>添加{{ctrl.apiObject.kind | humanizeKind}}到应用程序:</legend>
        <div class="form-group"  ng-class="{'has-error' : ctrl.addType === 'env' && ctrl.application && !ctrl.canAddRefToApplication}">
          <div class="application-select">
            <ui-select autofocus id="application" ng-model="ctrl.application" on-select="ctrl.checkApplicationContainersRefs($item)" required="true" ng-disabled="ctrl.disableInputs">
              <ui-select-match placeholder="{{ctrl.applications.length ? 'Select an application' : '这个项目没有应用程序'}}">
              <span>
                {{$select.selected.metadata.name}}
                <small class="text-muted">&ndash; {{$select.selected.kind | humanizeKind : true}}</small>
              </span>
              </ui-select-match>
              <ui-select-choices
                repeat="application in (ctrl.applications) | filter : { metadata: { name: $select.search } } track by (application | uid)"
                group-by="ctrl.groupByKind">
                <span ng-bind-html="application.metadata.name | highlight : $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="has-error" ng-if="ctrl.addType === 'env' && ctrl.application && !ctrl.canAddRefToApplication">
          <span class="help-block">
            {{ctrl.apiObject.kind | humanizeKind}}已经被添加到这个程序.
          </span>
        </div>
        <legend>Add {{ctrl.apiObject.kind | humanizeKind}} as:</legend>
        <div class="radio">
          <label for="env">
            <input id="env" type="radio" ng-model="ctrl.addType" value="env" >
            环境变量
          </label>
        </div>
        <div ng-if="ctrl.addType === 'env'" class="choice-contents clearfix">
          <div class="has-warning" ng-if="ctrl.hasInvalidEnvVars">
            <div class="help-block">
              <span class="pf-icon pficon-warning-triangle-o" aria-hidden="true"></span>
              {{ctrl.apiObject.kind | humanizeKind | upperFirst}} <strong>{{ctrl.apiObject.metadata.name}}</strong> contains keys that are not valid environment variable names. Only {{ctrl.apiObject.kind | humanizeKind}} keys with valid names will be added as environment variables.
            </div>
          </div>
          <div class="form-group">
            <div class="control-label">
              <label>Prefix</label>
              <a href="" class="pficon pficon-info field-help"
                 aria-hidden="true"
                 uib-popover="或者，您可以指定一个前缀以用于环境变量."
                 popover-trigger="focus">
              </a>
            </div>
            <span class="control-input" ng-class="{'has-error': addToApplicationForm.envPrefix.$error.pattern && addToApplicationForm.envPrefix.$touched}">
              <input class="form-control"
                     name="envPrefix"
                     id="envPrefix"
                     placeholder="(可选的)"
                     type="text"
                     ng-pattern="/^[A-Za-z_][A-Za-z0-9_]*$/"
                     aria-describedby="env-prefix-help"
                     ng-disabled="ctrl.addType !== 'env' || !ctrl.application"
                     ng-model="ctrl.envPrefix"
                     autocorrect="off"
                     autocapitalize="off"
                     spellcheck="false">
                <div class="help-block" ng-show="addToApplicationForm.envPrefix.$error.pattern && addToApplicationForm.envPrefix.$touched">
                  前缀可以包含数字，字母和下划线，但不能以数字开头.
                </div>
                <span class="sr-only" id="env-prefix-help">或者，您可以指定一个前缀以用于环境变量.</span>
            </span>
          </div>
        </div>
        <div class="radio">
          <label for="volume">
            <input id="volume" type="radio" ng-model="ctrl.addType" value="volume">
            Volume
          </label>
        </div>
        <div ng-if="ctrl.addType === 'volume'" class="choice-contents clearfix">
          <div class="form-group">
            <div class="control-label">
              <label class="required">装载路径</label>
              <a href="" class="pficon pficon-info field-help"
                 aria-hidden="true"
                 uib-popover="卷的装载路径. 一个文件将在
                             {{ctrl.apiObject.kind | humanizeKind}}创建.
                              文件的内容是密钥的值."
                 popover-trigger="focus">
              </a>
            </div>
            <div class="control-input" ng-class="{'has-error': (addToApplicationForm.mountVolume.$error.oscUnique || (addToApplicationForm.mountVolume.$error.pattern && addToApplicationForm.mountVolume.$touched))}">
              <input class="form-control"
                     name="mountVolume"
                     id="mountVolume"
                     type="text"
                     ng-pattern="/^\/.*$/"
                     osc-unique="ctrl.existingMountPaths"
                     aria-describedby="mount-path-help"
                     ng-disabled="ctrl.addType !== 'volume' || !ctrl.application"
                     ng-required="ctrl.addType === 'volume'"
                     ng-model="ctrl.mountVolume"
                     autocorrect="off"
                     autocapitalize="off"
                     spellcheck="false">
              <div class="help-block" ng-show="addToApplicationForm.mountVolume.$error.pattern && addToApplicationForm.mountVolume.$touched">
                装载路径必须是以目录开头的有效路径 <code>/</code>.
              </div>
              <div class="help-block" ng-show="addToApplicationForm.mountVolume.$error.oscUnique">
                安装路径已被使用。 请选择另一个安装路径。
              </div>
              <span class="sr-only" id="mount-path-help">
                卷的装载路径. 一个文件将在
                {{ctrl.apiObject.kind | humanizeKind}}创建.
                文件内容将是密钥的值.
              </span>
            </div>
          </div>
        </div>
        <div ng-if="ctrl.canAddRefToApplication">
          <legend ng-if-start="ctrl.application.spec.template.spec.containers.length > 1">Containers:</legend>
          <div ng-if-end class="form-group container-options">
            <div ng-if="ctrl.attachAllContainers">
              The {{ctrl.apiObject.kind | humanizeKind}} will be added to all containers. You can
              <a href="" ng-click="ctrl.attachAllContainers = false">select specific containers</a>
              instead.
            </div>
            <div ng-if="!ctrl.attachAllContainers" class="form-group">
              <label class="sr-only required">Containers</label>
              <select-containers
                ng-model="ctrl.attachContainers"
                pod-template="ctrl.application.spec.template"
                ng-required="true"
                help-text="Add the {{ctrl.apiObject.kind | humanizeKind}} to the selected containers.">
              </select-containers>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-default"
          ng-class="{'dialog-btn': isDialog}"
          ng-click="ctrl.onCancel()">
          Cancel
        </button>
        <button type="submit"
                class="btn btn-primary"
                ng-class="{'dialog-btn': isDialog}"
                ng-click="ctrl.addToApplication()"
                ng-disabled="addToApplicationForm.$invalid || (ctrl.addType === 'env' && !ctrl.canAddRefToApplication)"
                value="">
                Save
        </button>
      </div>
    </fieldset>
  </form>
  <div class="updating" ng-if="ctrl.updating">
    <div class="spinner spinner-lg" aria-hidden="true"></div>
    <h3>
      <span class="sr-only">Updating</span>
    </h3>
  </div>
</div>
