<div class="deploy-image">
  <select-project ng-if="!project" selected-project="input.selectedProject" name-taken="projectNameTaken"></select-project>
  <span ng-show="!noProjectsCantCreate">
    <p>
      通过镜像集标签或从镜像库里部署一个已经存在的应用镜像。
    </p>
    <ng-form name="forms.imageSelection">
      <fieldset ng-disabled="loading">
        <div class="radio">
          <label>
            <input type="radio" ng-model="mode" value="istag">
            镜像集标签
          </label>
        </div>
        <fieldset>
          <istag-select model="istag" select-required="mode === 'istag'" select-disabled="mode !== 'istag'" include-shared-namespace="true" append-to-body="isDialog"></istag-select>
          <div ng-if="mode == 'istag' && istag.namespace && istag.namespace !== 'openshift' && istag.namespace !== input.selectedProject.metadata.name" class="alert alert-warning">
            <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
            <strong>默认的</strong>服务账户要部署镜像，需要有从<strong>{{istag.namespace}}</strong>拉取镜像的权限。
            您可以使用以下命令来授予权限:
            <p>
              <code>oc policy add-role-to-user system:image-puller system:serviceaccount:{{input.selectedProject.metadata.name}}:default -n {{istag.namespace}}</code>
            </p>
          </div>
        </fieldset>
        <!-- disable this radio option when creating a project as image search requires a namespace -->
        <div class="radio" ng-class="{disabled : !input.selectedProject.metadata.uid}">
          <label>
            <input type="radio" ng-model="mode" value="dockerImage" ng-disabled="!input.selectedProject.metadata.uid">
            镜像名称
            <span ng-if="!input.selectedProject.metadata.uid" class="text-warning">
              &ndash; 镜像搜索仅针对当前项目。
            </span>
          </label>
        </div>
        <fieldset ng-disabled="!input.selectedProject.metadata.uid">
          <div class="form-group">
            <label for="imageName" class="sr-only">镜像名称或拉取细则</label>
            <div class="input-group">
              <input type="search"
                     id="imageName"
                     name="imageName"
                     ng-model="imageName"
                     ng-required="mode === 'dockerImage'"
                     select-on-focus
                     ng-disabled="mode !== 'dockerImage'"
                     placeholder="Image name or pull spec"
                     class="form-control"
                     autocorrect="off"
                     autocapitalize="none"
                     spellcheck="false">
              <span class="input-group-btn">
                <button class="btn btn-default"
                        type="submit"
                        ng-disabled="!imageName"
                        ng-click="findImage()">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <span class="sr-only">搜索</span>
                </button>
              </span>
            </div>
            <div class="help-block">
              要从私有存储库部署映像, 你必须 <span ng-if="!input.selectedProject.metadata.uid">创建一个镜像拉取密钥</span>
              <a href=""
                ng-click="openCreateWebhookSecretModal()"
                ng-if="input.selectedProject.metadata.uid">创建一个镜像拉取密钥</a>
              作为你的镜像库凭据。
              <a ng-href="{{'pull_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a></div>
          </div>
        </fieldset>
      </fieldset>
    </ng-form>
    <div class="mar-top-lg mar-bottom-lg">
      <div class="separator"></div>
    </div>
    <div ng-if="loading || !import" class="empty-state-message text-center">
      <h2 ng-if="!loading" class="h2">选择镜像集标签或输入镜像名称</h2>
      <h2 ng-if="loading" class="h2">加载镜像数据（<span class="word-break">{{imageName | stripSHA}}</span>）...</h2>
    </div>
    <div class="row mar-bottom-md" ng-if-start="!loading && import.image">
      <div class="col-sm-2 hidden-xs text-right h2">
        <span class="fa fa-cube text-muted" style="font-size: 100px;" aria-hidden="true"></span>
      </div>
      <div class="col-sm-10">
        <div ng-if="runsAsRoot" class="alert alert-warning">
          <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
          镜像<strong>{{import.name}}</strong>作为<strong>root</strong>用户运行，集群管理员可能不允许这样做。
        </div>
        <h2>
          <span ng-if="mode === 'dockerImage'">{{import.name}}</span>
          <span ng-if="mode === 'istag'">{{istag.imageStream}}<span ng-if="import.tag">:{{import.tag}}</span></span>
          <small>
            <span ng-if="import.result.ref.registry">from {{import.result.ref.registry}},</span>
            <span am-time-ago="import.image.dockerImageMetadata.Created"></span>,
            <span ng-if="import.image.dockerImageMetadata.Size">{{import.image.dockerImageMetadata.Size | humanizeSize}},</span>
            {{import.image.dockerImageLayers.length}} layers
          </small>
        </h2>
        <ul>
          <li ng-if="!import.namespace">镜像集 <strong>{{app.name || "&lt;name&gt;"}}:{{import.tag || 'latest'}}</strong> 将跟踪该镜像。</li>
          <li>该镜像将部署在部署配置 <strong>{{app.name || "&lt;name&gt;"}}</strong>中。</li>
          <li ng-if="ports.length">
            <span ng-if="ports.length === 1">Port</span>
            <span ng-if="ports.length > 1">Ports</span>
            <span ng-repeat="port in ports">
              <span ng-if="!$first && $last">and</span>
              {{port.containerPort}}/{{port.protocol}}<span ng-if="!$last && ports.length > 2">,</span>
            </span>
            将通过服务 <strong>{{app.name || "&lt;name&gt;"}}</strong>进行负载平衡。
            <div>其他容器可以通过主机名 <strong>{{app.name || "&lt;name&gt;"}}</strong>访问此服务。</div>
          </li>
        </ul>
        <div ng-if="(volumes | hashSize) > 0" class="help-block">
          该镜像声明卷，并将默认使用非持久性主机本地存储。
          您可以稍后将持久性存储添加到部署配置。
        </div>
      </div>
    </div>

    <div ng-if-end>
      <ng-form name="forms.deployImage" class="osc-form">
        <div class="form-group">
         <label for="name" class="required">名称</label>
         <div ng-class="{'has-error': (forms.deployImage.name.$invalid && forms.deployImage.name.$touched) || nameTaken}">
           <input type="text"
                  required
                  select-on-focus
                  minlength="2"
                  maxlength="24"
                  pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
                  ng-model="app.name"
                  id="name"
                  name="name"
                  class="form-control"
                  autocorrect="off"
                  autocapitalize="none"
                  spellcheck="false">
          </div>
          <div class="help-block">标识该镜像创建的资源。</div>
          <div class="has-error" ng-show="forms.deployImage.name.$invalid && forms.deployImage.name.$touched">
            <div class="help-block" ng-show="forms.deployImage.name.$error.required">
                名称为必填项。
            </div>
            <div class="help-block" ng-show="forms.deployImage.name.$error.pattern">
              名称必须是字母数字(a-z, 0-9)字符串，最大长度为24个字符，其中第一个字符是字母(a-z)。
              除了第一个或最后一个字符外，“-”字符允许在任何地方使用。
            </div>
            <div class="help-block" ng-show="forms.deployImage.name.$error.minlength">
              名称必须至少有两个字符。
            </div>
            <div class="help-block" ng-show="forms.deployImage.name.$error.maxlength">
              名称不能超过24个字符。
            </div>
          </div>
          <div class="has-error" ng-show="nameTaken">
            <span class="help-block">该名称已经在项目中使用。请选择一个不同的名字。</span>
          </div>
        </div>
        <osc-form-section
            header="Environment Variables"
            about-title="Environment Variables"
            about="Environment variables are used to configure and pass information to running containers."
            expand="true"
            can-toggle="false"
            class="first-section">
          <key-value-editor
            entries="env"
            key-placeholder="Name"
            key-validator="[-._a-zA-Z][-._a-zA-Z0-9]*"
            key-validator-error-tooltip="A valid environment variable name must consist of alphabetic characters, digits, '_', '-', or '.', and must not start with a digit."
            value-placeholder="Value"
            value-from-selector-options="input.selectedProject.metadata.uid && valueFromNamespace[input.selectedProject.metadata.name]"
            add-row-link="Add Value"
            add-row-with-selectors-link="Add Value from Config Map or Secret"></key-value-editor>
        </osc-form-section>

        <label-editor
            labels="labels"
            expand="true"
            can-toggle="false"
            help-text="Each label is applied to each created resource.">
        </label-editor>

        <alerts alerts="alerts"></alerts>
        <div ng-if="!isDialog" class="button-group gutter-bottom" ng-class="{'gutter-top': !alerts.length}">
          <button type="submit"
              class="btn btn-primary btn-lg"
              ng-click="create()"
              value=""
              ng-disabled="forms.deployImage.$invalid || nameTaken || disableInputs">创建</button>
          <a class="btn btn-default btn-lg" href="#" back>取消</a>
        </div>
      </ng-form>
    </div>

    <div ng-if="!loading && import.error" class="empty-state-message text-center">
      <h2>
        <i class="pficon pficon-error-circle-o" aria-hidden="true"></i>
        无法加载镜像元数据。
      </h2>
      <p>{{import.error | upperFirst}}</p>
      <p>镜像可能不存在，也可能位于安全注册表中。检查您是否正确输入了镜像名称，或者 <a href="" ng-click="openCreateWebhookSecretModal()">创建一个镜像拉取密钥</a> 来作为镜像注册凭据并再次尝试。</p>
    </div>

    <div ng-if="!loading && import && !import.error && !import.image" class="empty-state-message text-center">
      <h2>
        没有找到镜像元数据。
      </h2>
      <p>找不到任何镜像类似 {{import.name | stripTag}}:{{import.tag}}</p>
    </div>
  </span>
</div>
