<form ng-if="$ctrl.apiObject" name="$ctrl.form" class="mar-bottom-xl">
  <confirm-on-exit ng-if="$ctrl.canIUpdate && !$ctrl.ngReadonly" dirty="$ctrl.form.$dirty"></confirm-on-exit>
  <div ng-repeat="container in $ctrl.containers track by container.name">
    <h3>容器 {{container.name}}</h3>

    <div ng-if="!$ctrl.canIUpdate || $ctrl.ngReadonly">
      <span ng-if="!container.env.length">
         {{container.name}}容器 {{$ctrl.apiObject.kind | humanizeKind}}模板
         没有环境变量。
      </span>
      <key-value-editor
        ng-if="container.env.length"
        entries="container.env"
        key-placeholder="Name"
        value-placeholder="Value"
        cannot-add
        cannot-sort
        cannot-delete
        is-readonly
        show-header>
      </key-value-editor>
    </div>
    <key-value-editor
      ng-if="$ctrl.canIUpdate && !$ctrl.ngReadonly"
      entries="container.env"
      key-placeholder="Name"
      value-placeholder="Value"
      value-from-selector-options="$ctrl.valueFromObjects"
      key-validator="[A-Za-z_][A-Za-z0-9_]*"
      key-validator-error="Please enter a valid key."
      key-validator-error-tooltip="A valid environment variable name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores."
      add-row-link="添加值"
      add-row-with-selectors-link="从配置映射或密钥中添加值"
      show-header>
    </key-value-editor>

    <h4>
      环境添加
      <span class="pficon pficon-help tooltip-default-icon"
            aria-hidden="true"
            data-toggle="tooltip"
            data-original-title="环境允许您从配置映射或密钥中添加所有键值对作为环境变量。"></span>
    </h4>
    <edit-environment-from
      entries="container.envFrom"
      env-from-selector-options="$ctrl.valueFromObjects"
      is-readonly="$ctrl.ngReadonly"
      show-header>
    </edit-environment-from>
  </div>
  <div class="gutter-top-bottom">
    <button
      class="btn btn-default"
      ng-if="$ctrl.canIUpdate && !$ctrl.ngReadonly"
      ng-click="$ctrl.save()"
      ng-disabled="$ctrl.form.$pristine || $ctrl.form.$invalid">保存</button>
    <a
      ng-if="!$ctrl.form.$pristine"
      href=""
      ng-click="$ctrl.clearChanges()"
      class="mar-left-sm clear-env-changes-link">清除变更</a>
  </div>
</form>
