<osc-form-section
  header="标签"
  about-title="标签"
  about="标签用于组织、组或选择对象和资源，如pod。"
  expand="expand"
  can-toggle="canToggle">

  <div ng-if="helpText && ((labels | hashSize) !== 0 || $parent.expand)" class="help-block">
    {{helpText}}
  </div>

  <div ng-show="expand" ng-class="{ 'gutter-top': !helpText }">
    <key-value-editor
      entries="labels"
      key-placeholder="Name"
      key-maxlength="63"
      key-validator-regex="validator.key"
      value-placeholder="Value"
      value-maxlength="63"
      value-validator-regex="validator.value"
      key-validator-error-tooltip="有效的对象标签具有[域/]名称的形式，其中名称是由字母数字（a-z和0-9）组成的字符串，
                                   最大长度为63个字符，其中“-”字符允许使用在除第一个或最后一个字符之外的任何位置。
                                   域是由“.”字符分隔的一系列名称。最大长度为253个字符。"
      value-validator-error-tooltip="一个有效的标签值是由字母数字（A-Z和0-9）组成的字符串，最大长度为63个字符，
                                     除了第一个字符和最后一个字符外，任何字符都可以使用“-”。"
      add-row-link="添加标签"></key-value-editor>
  </div>

  <div ng-hide="expand">
    <key-value-editor
      entries="labels"
      key-placeholder="Labels"
      cannot-sort
      cannot-delete
      cannot-add
      is-readonly></key-value-editor>
  </div>
</osc-form-section>
