<div ng-controller="TasksController">
  <div ng-if="$ctrl.pendingTasks(tasks()).length">
    <div class="results-status">
      <span class="fa fa-clock-o text-muted" aria-hidden="true"></span>
      <span class="sr-only">挂起</span>
      <div class="results-message">
        <h1 class="h3">
          <span ng-if="$ctrl.kind">{{$ctrl.kind | humanizeKind | upperFirst}}</span>
          <strong>{{$ctrl.name}}</strong> is being {{$ctrl.actionLabel}}<span ng-if="$ctrl.showProjectName && $ctrl.projectName"> in <strong>{{$ctrl.projectName}}</strong></span>.
        </h1>
      </div>
    </div>
  </div>
  <div class="results-failure" ng-if="!$ctrl.pendingTasks(tasks()).length && $ctrl.erroredTasks(tasks()).length">
    <div class="results-status">
      <span class="pficon pficon-error-circle-o text-danger" aria-hidden="true"></span>
      <span class="sr-only">错误</span>
      <div class="results-message">
        <h1 class="h3">
          <span ng-if="$ctrl.kind">{{$ctrl.kind | humanizeKind | upperFirst}}</span>
          <strong>{{$ctrl.name}}</strong> failed to be {{$ctrl.actionLabel}}<span ng-if="$ctrl.showProjectName && $ctrl.projectName"> in <strong>{{$ctrl.projectName}}</strong></span>.
        </h1>
      </div>
    </div>
  </div>
  <!-- Import YAML of a single resource. -->
  <div ng-if="!tasks().length">
    <div class="results-status">
      <span class="pficon pficon-ok" aria-hidden="true"></span>
      <span class="sr-only">成功</span>
      <div class="results-message">
        <h1 class="h3">
          <span ng-if="$ctrl.kind">{{$ctrl.kind | humanizeKind | upperFirst}}</span>
          <strong>{{$ctrl.name}}</strong> has been {{$ctrl.actionLabel}}<span ng-if="$ctrl.showProjectName && $ctrl.projectName"> in <strong>{{$ctrl.projectName}}</strong> successfully</span>.
        </h1>
      </div>
    </div>
  </div>
  <div ng-if="tasks().length && $ctrl.allTasksSuccessful(tasks())">
    <div class="results-status">
      <span class="pficon pficon-ok" aria-hidden="true"></span>
      <span class="sr-only">成功</span>
      <div class="results-message">
        <h1 class="h3">
          <span ng-if="$ctrl.kind">{{$ctrl.kind | humanizeKind | upperFirst}}</span>
          <strong>{{$ctrl.name}}</strong> has been {{$ctrl.actionLabel}}<span ng-if="$ctrl.showProjectName && $ctrl.projectName"> in <strong>{{$ctrl.projectName}}</strong> successfully</span>.
        </h1>
      </div>
    </div>
  </div>

  <p ng-if="!$ctrl.pendingTasks(tasks()).length && !$ctrl.erroredTasks(tasks()).length">
    <a href="" ng-click="$ctrl.goToOverview()">到项目概述</a>
  </p>

  <div ng-if="hasTaskWithError()">
    <ul ng-repeat="task in tasks()">
      <li ng-repeat="alert in task.alerts" ng-if="alert.type === 'error' || alert.type === 'warning'">
        {{alert.message}}
        {{alert.details}}
      </li>
    </ul>
  </div>
</div>

<div class="alert alert-info template-message" ng-if="$ctrl.templateMessage.length">
  <span class="pficon pficon-info" aria-hidden="true"></span>
  <div class="resource-description" ng-bind-html="$ctrl.templateMessage | linkify : '_blank'"></div>
</div>

<div ng-if="$ctrl.createdBuildConfig">
  <h2 class="h3">修改代码</h2>
  <p ng-if="$ctrl.fromSampleRepo">
    您将使用示例git存储库。如果您想修改源代码， fork这个 <osc-git-link uri="$ctrl.createdBuildConfig.spec.source.git.uri">{{$ctrl.createdBuildConfig.spec.source.git.uri}}</osc-git-link> 存储库到一个openshift可见的git帐户，然后 <a href="{{$ctrl.createdBuildConfig | editResourceURL}}">编辑 <strong>{{$ctrl.createdBuildConfig.metadata.name}}</strong> 构建配置</a> 指向你的fork库。
    <span ng-if="$ctrl.createdBuildConfigWithConfigChangeTrigger()">注意，这将启动一个新的构建。</span>
  </p>
  <div ng-repeat="trigger in $ctrl.createdBuildConfig.spec.triggers" ng-if="trigger.type == 'GitHub'">
    <p>
      为<strong>{{$ctrl.createdBuildConfig.metadata.name}}</strong>构建配置创建了一个GitHub <a target="_blank" href="{{'webhooks' | helpLink}}">webhook 触发器</a>。
    </p>
    <p ng-if="$ctrl.fromSampleRepo">
        您可以在fork存储库的设置中配置webhook，使用以下有效URL：
    </p>
    <p ng-if="!$ctrl.fromSampleRepo">
      <span ng-if="$ctrl.createdBuildConfig.spec.source.git.uri | isGithubLink">
        如果您拥有webhook，现在可以在GitHub存储库设置中设置webhook, in <a target="_blank" class="word-break" href="{{$ctrl.createdBuildConfig.spec.source.git.uri | githubLink}}/settings/hooks">{{$ctrl.createdBuildConfig.spec.source.git.uri | githubLink}}/settings/hooks</a>, 使用以下有效负载URL并指定<code>application/json</code>的<i>内容类型</i>:
      </span>
      <span ng-if="!($ctrl.createdBuildConfig.spec.source.git.uri | isGithubLink)">
        您的源代码似乎不是GitHub存储库的URL。 如果您有一个GitHub存储库，希望从它触发这个构建，那么使用以下有效负载URL并指定<code>application/json</code>的<i>内容类型</i>:
      </span>
    </p>
    <copy-to-clipboard clipboard-text="$ctrl.createdBuildConfig.metadata.name | webhookURL : trigger.type : trigger.github : $ctrl.projectName"></copy-to-clipboard>
  </div>
</div>

<div ng-if="$ctrl.parameters.all.length">
  <h2 class="h3">应用参数值</h2>
  <p>这些参数通常包括密码之类的东西。如果以后需要引用这些值，请将它们复制到安全位置。
    <span ng-if="$ctrl.parameters.generated.length > 1">参数 <span ng-repeat="paramName in $ctrl.parameters.generated">{{paramName}}<span ng-if="!$last">, </span></span> 是自动生成的。</span>
    <span ng-if="$ctrl.parameters.generated.length === 1">参数 {{$ctrl.parameters.generated[0]}} 是自动生成的。</span>
  </p>
  <div ng-if="!$ctrl.showParamsTable" class="center">
    <a href="" ng-click="$ctrl.toggleParamsTable()">显示参数值</a>
  </div>
  <key-value-editor
    ng-if="$ctrl.showParamsTable"
    entries="$ctrl.parameters.all"
    key-placeholder="Name"
    value-placeholder="Value"
    cannot-add
    cannot-delete
    cannot-sort
    show-header
    is-readonly></key-value-editor>
</div>
