<ng-form name="form">
  <div class="autoscaling-form">
  <div ng-show="showNameInput" class="form-group">
    <label for="hpa-name" class="required">自动伸缩控制器名称</label>
    <span ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <input
          id="hpa-name"
          class="form-control"
          type="text"
          name="name"
          ng-model="autoscaling.name"
          ng-required="showNameInput"
          ng-readonly="nameReadOnly"
          ng-pattern="nameValidation.pattern"
          ng-maxlength="nameValidation.maxlength"
          select-on-focus
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
          aria-describedby="hpa-name-help">
    </span>
    <div>
      <span id="hpa-name-help" class="help-block">
        在项目中的pod中，自动伸缩控制器名称必须唯一。
      </span>
    </div>
    <div class="has-error" ng-show="form.name.$invalid && form.name.$touched">
      <span ng-if="form.name.$error.required" class="help-block">
        名称为必填项。
      </span>
      <span ng-show="form.name.$error.pattern" class="help-block">
        {{nameValidation.description}}
      </span>
      <span ng-show="form.name.$error.maxlength" class="help-block">
        <span class="help-block">
          不能超过最大长度 {{nameValidation.maxlength}} 字符。
        </span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label>最小Pod数量</label>
    <span ng-class="{ 'has-error': form.minReplicas.$dirty && form.minReplicas.$invalid }">
      <input type="number"
             class="form-control"
             min="1"
             name="minReplicas"
             ng-model="autoscaling.minReplicas"
             pattern="\d*"
             select-on-focus
             aria-describedby="min-replicas-help">
    </span>
    <div id="min-replicas-help" class="help-block">
      自动伸缩控制器可设置的最小Pod数量。
      如果没有指定，则默认为1。
    </div>
    <div class="has-error" ng-show="form.minReplicas.$dirty && form.minReplicas.$invalid">
      <span ng-if="form.minReplicas.$error.number" class="help-block">
        最小Pod数量必须是一个整数。
      </span>
      <span ng-if="form.minReplicas.$error.pattern" class="help-block">
        最小Pod数量必须是一个完整的数字。
      </span>
      <span ng-if="form.minReplicas.$error.min" class="help-block">
        最小Pod数量必须大于等于1。
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="required">最大Pod数量</label>
    <span ng-class="{ 'has-error': (form.minReplicas.$dirty || form.maxReplicas.$dirty) && form.maxReplicas.$invalid }">
      <input type="number"
             class="form-control"
             name="maxReplicas"
             required
             min="{{autoscaling.minReplicas || 1}}"
             ng-model="autoscaling.maxReplicas"
             pattern="\d*"
             select-on-focus
             aria-describedby="max-replicas-help">
    </span>
    <div id="max-replicas-help" class="help-block">
      自动伸缩控制器可设置的最大Pod数量。
    </div>
    <div class="has-error" ng-show="(form.minReplicas.$dirty || form.maxReplicas.$dirty) && form.maxReplicas.$invalid">
      <span ng-if="form.maxReplicas.$error.number" class="help-block">
        最大Pod数量必须是一个整数。
      </span>
      <span ng-if="form.minReplicas.$error.pattern" class="help-block">
        最大Pod数量必须是一个完整的数字。
      </span>
      <span class="help-block" ng-if="form.maxReplicas.$error.min">
        最大Pod数量必须大于等于
        <span ng-if="autoscaling.minReplicas">最小Pod数量（</span>
        {{autoscaling.minReplicas || 1}}）。
      </span>
      <span class="help-block" ng-if="form.maxReplicas.$error.required">
        最大Pod数量必须填写。
      </span>
    </div>
  </div>
  <div ng-show="showRequestInput" class="form-group">
    <label>
      CPU要求目标
    </label>
    <div class="input-group" ng-class="{ 'has-error': form.targetCPU.$invalid && form.targetCPU.$touched }">
      <input type="number"
             class="form-control"
             min="1"
             name="targetCPU"
             ng-model="autoscaling.targetCPU"
             pattern="\d*"
             select-on-focus
             aria-describedby="target-cpu-help">
      <span class="input-group-addon">%</span>
    </div>
    <div id="target-cpu-help" class="help-block">
      每个pod应该使用的CPU请求的百分比。当CPU使用率超过或低于此目标值时，将会定期添加或删除pod。
    </div>
    <div class="learn-more-block">
      <a ng-href="{{'compute_resources' | helpLink}}" target="_blank">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>
    <!-- Add extra top margin for the learn more block -->
    <div class="has-error mar-top-md" ng-show="form.targetCPU.$touched && form.targetCPU.$invalid">
      <span ng-if="form.targetCPU.$error.number" class="help-block">
        目标CPU百分比必须是一个整数。
      </span>
      <span ng-if="form.targetCPU.$error.pattern" class="help-block">
        目标CPU百分比必须是一个完整的数字。
      </span>
      <span ng-if="form.targetCPU.$error.min" class="help-block">
        目标CPU百分比必须大于等于1。
      </span>
    </div>
  </div>
  </div>
</ng-form>
