<ng-form name="routingServiceForm">
  <div class="row">
    <div class="form-group" ng-class="{ 'col-sm-6': showWeight, 'col-sm-12': !showWeight }">
      <label for="{{id}}-service-select" class="required">
        服务
      </label>
      <ui-select ng-model="model.name" input-id="{{id}}-service-select" aria-describedby="{{id}}-service-help" required>
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="serviceName in (optionNames | filter : $select.search)">
          <div ng-bind-html="serviceName | highlight : $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div>
        <span ng-attr-id="{{id}}-service-help" class="help-block">
          <span ng-if="!isAlternate">服务到路由。</span>
          <span ng-if="isAlternate">路线通信的替代服务。</span>
        </span>
      </div>
      <div ng-if="model.name && !allServices[model.name]" class="has-warning">
        <span class="help-block">
          服务 {{model.name}} 不存在。
        </span>
      </div>
      <div ng-if="(optionNames | size) === 0" class="has-error">
        <span class="help-block">
            您的项目中没有<span ng-if="is-alternate">其它</span>服务可以通过路由公开。
        </span>
      </div>
      <div ng-if="warnUnnamedPort" class="has-warning">
        <span class="help-block">
          服务{{model.name}}只有一个未命名端口。路由不能专门针对未命名的服务端口。如果以后添加更多的服务端口，路由也会将流量引向这些端口。
        </span>
      </div>
    </div>

    <div ng-if="showWeight" class="form-group col-sm-6">
      <label for="{{id}}-service-weight" class="required">权重</label>
      <input ng-model="model.weight"
             name="weight"
             id="{{id}}-service-weight"
             type="number"
             required
             min="0"
             max="256"
             pattern="\d*"
             select-on-focus
             class="form-control"
             aria-describedby="{{id}}-weight-help">
      <div>
        <span id="{{id}}-weight-help" class="help-block">
          权重是介于0到256之间的一个数字，它指定相对于其他路由服务的相对权重。
        </span>
        <div ng-if="routingServiceForm.weight.$dirty && routingServiceForm.weight.$invalid" class="has-error">
          <div ng-if="routingServiceForm.weight.$error.number" class="help-block">
            必须是一个数字。
          </div>
          <!-- This message will also display for values less than the min (e.g., -1) since they
               don't match the pattern. -->
          <div ng-if="routingServiceForm.weight.$error.pattern" class="help-block">
            必须是大于等于0的整数。
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
