<ng-form name="secretsForm" class="osc-secrets-form">
  <div class="form-group">
    <div class="basic-secrets">
      <div class="input-labels">
        <label class="input-label">
          {{displayType | startCase}} 私密
        </label>
      </div>
      <div ng-repeat="pickedSecret in pickedSecrets" class="row form-row-has-controls">
        <div class="secret-row col-xs-12">
          <div class="secret-name">
            <ui-select ng-disabled="disableInput" ng-model="pickedSecret.name">
              <ui-select-match placeholder="Secret name">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="secret in (secretsByType[type] | filter : $select.search)">
                <div ng-bind-html="secret | highlight : $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="remove-secret form-row-controls">
            <button
              class="btn-remove close delete-row"
              type="button"
              aria-hidden="true"
              ng-click="removeSecret($index)">
              <span class="pficon pficon-close" aria-hidden="true"></span>
              <span class="sr-only">删除构建私密</span>
            </button>
          </div>
        </div>
      </div>
      <div class="help-blocks" ng-switch="displayType">
        <div class="help-block" ng-switch-when="source">
          私密可作为拉取源代码的凭据。
          <a href="{{'git_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
        </div>
        <div class="help-block" ng-switch-when="pull">
          私密可作为从镜像仓库拉取镜像的身份验证凭据。
          <a href="{{'pull_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
        </div>
        <div class="help-block" ng-switch-when="push">
          当将镜像推送到安全注册中心时，私密可作为身份验证的凭据。
          <a href="{{'pull_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="osc-secret-actions" ng-if="!disableInput">
    <span ng-if="canAddSourceSecret()">
      <a href=""
        role="button"
        ng-click="addSourceSecret()">添加其它私密</a>
      <span ng-if="secretsVersion | canI : 'create'" class="action-divider">|</span>
    </span>
    <a href=""
      ng-if="secretsVersion | canI : 'create'"
      role="button"
      ng-click="openCreateSecretModal()">创建新的私密</a>
  </div>
</ng-form>
