<div ng-if="alwaysVisible || !missingConfigChangeTrigger" class="form-group pause-rollouts-checkbox">
  <div class="checkbox">
    <label>
      <input
          type="checkbox"
          ng-disabled="disabled"
          ng-model="deployment.spec.paused"
          aria-describedby="pause-help">
      暂停发布，仅修改{{deployment.kind | humanizeKind}}
    </label>
    <div id="pause-help" class="help-block">
      暂停发布可以让您在不触发发布的情况下进行更改。您可以在任何时候恢复发布。
      <span ng-if="!alwaysVisible">如果不选择，将会启动一个新的发布。</span>
    </div>
  </div>
</div>
