<span ng-show="!model.editing">
  <span ng-if="status === undefined">{{spec}} 副本<span ng-if="spec !== 1"></span></span>
  <span ng-if="status !== undefined">{{status}} 当前 / {{spec}} 期望</span>
  <a href=""
    title="Edit"
    class="action-button"
    ng-if="!disableScaling && scaleFn && (deployment | canIScale)"
    ng-click="model.desired = spec; model.editing = true">
    <i class="pficon pficon-edit mar-left-sm"></i>
    <span class="sr-only">编辑</span>
  </a>
</span>
<span ng-show="!disableScaling && model.editing">
  <form name="form.scaling" ng-submit="scale()" class="form-inline" novalidate>
    <span ng-class="{'has-error': form.scaling.$invalid}">
      <input type="number"
             name="desired"
             ng-model="model.desired"
             ng-required="true"
             min="0"
             pattern="\d*"
             focus-when="{{model.editing}}"
             select-on-focus
             class="input-number">
    </span>
    <a href=""
       title="Scale"
       class="action-button"
       ng-attr-aria-disabled="{{form.scaling.$invalid ? 'true' : undefined}}"
       ng-click="scale()"
       role="button">
      <i class="fa fa-check" style="margin-left: 5px;"></i>
      <span class="sr-only">缩放</span>
    </a>
    <a href="" title="取消" class="action-button" ng-click="cancel()" role="button">
      <i class="fa fa-times" style="margin-left: 5px;"></i>
      <span class="sr-only">取消</span>
    </a>
    <div ng-if="form.scaling.$invalid" class="has-error">
      <div ng-if="form.scaling.desired.$error.required" class="help-block">
        需要一个副本值。
      </div>
      <div ng-if="form.scaling.desired.$error.pattern" class="help-block">
        副本值必须是一个整数。
      </div>
      <div ng-if="form.scaling.desired.$error.min" class="help-block">
        复本值不能是负数。
      </div>
    </div>
  </form>
</span>
