<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
            <alerts alerts="alerts"></alerts>
            <div class="mar-top-xl">
              <h1>创建DockerFile</h1>
              <div class="help-block">
                  创建DockerFile用来制作Docker镜像
              </div>
                <ng-form name="dockerfileForm" class="create-secret-form">
                    <label class="required">名称</label>
                    <span ng-class="{'has-error': nameTaken || (dockerfileForm.name.$invalid && dockerfileForm.name.$touched)}">
                      <input class="form-control"
                        id="dockfile-name"
                        name="Name"
                        ng-model="newDockerfile.Name"
                        type="text"
                        autocorrect="off"
                        autocapitalize="none"
                        spellcheck="false"
                        aria-describedby=""
                        ng-pattern=""
                        ng-maxlength=""
                        ng-change=""
                        required>
                    </span>

                    <label class="required">说明</label>
                    <span ng-class="{'has-error': nameTaken || (dockerfileForm.Desc.$invalid && dockerfileForm.Desc.$touched)}">
                      <input class="form-control"
                        id="dockfile-desc"
                        name="Desc"
                        ng-model="newDockerfile.Desc"
                        type="text"
                        autocorrect="off"
                        autocapitalize="none"
                        spellcheck="false"
                        aria-describedby=""
                        ng-pattern=""
                        ng-maxlength=""
                        ng-change=""
                        required>
                    </span>
                
                    <label class="required">内容</label>
                    <span ng-class="{'has-error': nameTaken || (dockerfileForm.Content.$invalid && dockerfileForm.Content.$touched)}">
                      <textarea ng-model="newDockerfile.Content"
                      id="dockfile-content"
                      name="Content"
                      rows="20"
                      required
                      class="form-control"
                      autocorrect="off"
                      autocapitalize="none"
                      spellcheck="false">
                      </textarea>
                  </span>

                  <div class="buttons gutter-top-bottom">
                    <button class="btn btn-primary"
                            type="button"
                            ng-disabled="dockerfileForm.$invalid || dockerfileForm.$pristine || invalidConfigFormat"
                            ng-click="create()">创建</button>
                    <button class="btn btn-default"
                            type="button"
                            ng-click="cancel()">取消</button>
                  </div>
                </ng-form>
                
            </div>
        </div>
      </div>
    </div>
  </div><!-- /middle-content -->
</div><!-- /middle -->
