<div ng-if="(('replicationControllers' | canIDoAny) || (!deploymentConfigName && !autoscalers.length && ({ group: 'autoscaling', resource: 'horizontalpodautoscalers' } | canI : '创建')))" class="pull-right dropdown">
  <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
    动作
    <span class="caret"></span>
  </button>
  <a href=""
     class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
     data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">动作</span></a>
  <ul class="dropdown-menu dropdown-menu-right actions action-button">
    <li ng-if="deploymentConfigName && ('deploymentconfigs' | canI : '更新')">
      <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=DeploymentConfig&name={{deploymentConfigName}}"
         role="button">添加存储</a>
    </li>
    <li ng-if="!deploymentConfigName && ('replicationcontrollers' | canI : '更新')">
      <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=ReplicationController&name={{replicaSet.metadata.name}}"
         role="button">添加存储</a>
    </li>
    <li ng-if="!autoscalers.length && ({resource: 'horizontalpodautoscalers', group: 'autoscaling'} | canI : '创建')">
      <!-- Create a new HPA. -->
      <a ng-href="project/{{projectName}}/edit/autoscaler?kind=ReplicationController&name={{replicaSet.metadata.name}}"
         ng-if="!deploymentConfigName"
         role="button">添加自动伸缩控制</a>
      <a ng-href="project/{{projectName}}/edit/autoscaler?kind=DeploymentConfig&name={{deploymentConfigName}}"
         ng-if="deploymentConfigName"
         role="button">添加自动伸缩控制</a>
    </li>
    <li ng-if="deploymentConfigName && ('deploymentconfigs' | canI : '更新')">
      <a ng-href="project/{{projectName}}/set-limits?kind=DeploymentConfig&name={{deploymentConfigName}}"
         role="button">编辑资源限制</a>
    </li>
    <li ng-if="!deploymentConfigName && ('replicationcontrollers' | canI : '更新')">
      <a ng-href="project/{{projectName}}/set-limits?kind=ReplicationController&name={{replicaSet.metadata.name}}"
         role="button">编辑资源限制</a>
    </li>
    <!-- Only allow editing health checks if there is no deployment config or this is the active deployment. -->
    <li ng-if="(!deploymentConfigName && ('replicationcontrollers' | canI : '更新')) || (deploymentConfigName && ('deploymentconfigs' | canI : '更新'))">
      <a ng-href="{{healthCheckURL}}" role="button">编辑健康检查</a>
    </li>
    <li ng-if="'replicationcontrollers' | canI : '更新'">
      <a ng-href="{{replicaSet | editYamlURL}}" role="button">编辑YAML</a>
    </li>
    <li ng-if="'replicationcontrollers' | canI : '删除'">
      <delete-link
        kind="ReplicationController"
        type-display-name="{{deploymentConfigName ? 'deployment' : 'replication controller'}}"
        resource-name="{{replicaSet.metadata.name}}"
        project-name="{{replicaSet.metadata.namespace}}"
        alerts="alerts"
        hpa-list="hpaForRS"
        redirect-url="{{replicaSet | configURLForResource}}">
      </delete-link>
    </li>
  </ul>
</div>
