  <div class="middle surface-shaded">
    <div class="middle-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div ng-hide="imageStream" class="mar-top-lg">
              加载中...
            </div>
            <div class="osc-form" ng-show="imageStream">
              <alerts alerts="alerts"></alerts>
              <div class="row">
                <div class="col-md-2 icon hidden-sm hidden-xs">
                  <custom-icon resource="imageStream" kind="image" tag="imageTag"></custom-icon>
                </div>
                <div class="col-md-8">
                  <fieldset ng-disabled="disableInputs">
                    <osc-image-summary resource="image" name="displayName || imageName" tag="imageTag"></osc-image-summary>
                    <div class="clearfix visible-xs-block"></div>
                    <form class="" ng-show="imageStream" novalidate name="form" ng-submit="createApp()">
                      <div style="margin-bottom: 15px;">
                        <div class="form-group">
                         <label for="appname" class="required">名称</label>
                         <!--
                           Only validate the name pattern and minlength if the field has both been changed and blurred.  This
                           avoids a lot of problems clicking on the try it / more options links below.  Don't use $touched,
                           which causes validation error messages to flash when typing in the field after clicking one of the
                           links. Show the required error if the user enters and deletes the value, even if the field still
                           has focus.
                         -->
                         <div ng-class="{'has-error': (form.appname.$error.required && form.appname.$dirty) || (form.appname.$invalid && shouldValidateName) || nameTaken}">
                           <input type="text"
                                  required
                                  take-focus
                                  minlength="2"
                                  maxlength="24"
                                  pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
                                  ng-model="name"
                                  id="appname"
                                  name="appname"
                                  ng-change="nameTaken = false"
                                  ng-blur="shouldValidateName = form.appname.$dirty"
                                  class="form-control"
                                  autocorrect="off"
                                  autocapitalize="none"
                                  spellcheck="false">
                          </div>
                          <div class="help-block">标识为该应用程序创建的资源。</div>
                          <div class="has-error" ng-show="form.appname.$error.required && form.appname.$dirty">
                            <span class="help-block">需要一个名称。</span>
                          </div>
                          <div class="has-error" ng-show="form.appname.$error.pattern && shouldValidateName">
                            <span class="help-block"><strong>请输入有效名称。</strong>
                            <p>对所有生成的资源应用有效的名称。它是一个最大长度为24个字符的字母数字字符串(a-z和0-9)，其中第一个字符是一个字母(a-z)，除了第一个或最后一个字符之外，“-”字符允许出现在任何地方。</p>
                            </span>
                          </div>
                          <div class="has-error" ng-show="form.appname.$error.minlength && shouldValidateName">
                            <span class="help-block">名称必须至少有两个字符。</span>
                          </div>
                          <div class="has-error" ng-show="nameTaken">
                            <span class="help-block">该名称已经在项目中使用。请选择一个不同的名字。</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div ng-class="{
                          'col-md-8': advancedOptions || advancedSourceOptions,
                          'col-lg-12': !advancedOptions && !advancedSourceOptions
                        }">
                          <div class="form-group">
                            <label for="sourceUrl" class="required">Git仓库地址</label>
                            <div ng-class="{
                              'has-warning': buildConfig.sourceUrl && form.sourceUrl.$touched && !sourceURLPattern.test(buildConfig.sourceUrl),
                              'has-error': (form.sourceUrl.$error.required && form.sourceUrl.$dirty)
                            }">
                              <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                              <input class="form-control"
                                id="sourceUrl"
                                name="sourceUrl"
                                type="text"
                                required
                                aria-describedby="from_source_help"
                                ng-model="buildConfig.sourceUrl"
                                autocorrect="off"
                                autocapitalize="none"
                                spellcheck="false">
                            </div>
                            <div ng-if="!(sourceURIinParams) && image.metadata.annotations.sampleRepo" class="help-block">
                              样本库 {{imageName}}: {{image.metadata.annotations.sampleRepo}}<span ng-if="image.metadata.annotations.sampleRef">,
                                引用: {{image.metadata.annotations.sampleRef}}</span><span ng-if="image.metadata.annotations.sampleContextDir">,
                                关联目录: {{image.metadata.annotations.sampleContextDir}}</span>
                              <a href="" ng-click="fillSampleRepo()"
                                style="margin-left: 3px;" class="nowrap">试试看<i class="fa fa-level-up" style="margin-left: 3px; font-size: 17px;"></i></a>
                            </div>
                            <div class="has-error" ng-show="form.sourceUrl.$error.required && form.sourceUrl.$dirty">
                              <span class="help-block">一个Git源码地址是必须的。</span>
                            </div>
                            <div class="has-warning" ng-if="buildConfig.sourceUrl && form.sourceUrl.$touched && !sourceURLPattern.test(buildConfig.sourceUrl)">
                              <span class="help-block">这可能不是一个有效的Git源码地址。检查到远程Git存储库的URL是否正确。</span>
                            </div>
                          </div>
                        </div>

                        <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                        <div class="col-md-4" ng-show="advancedOptions || advancedSourceOptions">
                          <div class="form-group">
                            <label for="gitref">Git 引用</label>
                            <div>
                              <input
                                id="gitref"
                                ng-model="buildConfig.gitRef"
                                type="text"
                                placeholder="master"
                                autocorrect="off"
                                autocapitalize="none"
                                spellcheck="false"
                                class="form-control">
                            </div>
                            <div class="help-block">可选的分支、标记或提交。</div>
                          </div>
                        </div>
                      </div>

                      <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                      <div ng-show="advancedOptions || advancedSourceOptions" class="form-group">
                        <label for="contextdir">关联目录</label>
                        <div>
                          <input
                            id="contextdir"
                            ng-model="buildConfig.contextDir"
                            type="text"
                            placeholder="/"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            class="form-control">
                        </div>
                        <div class="help-block">可选的应用程序源代码子目录，用作构建的关联目录。</div>
                      </div>

                      <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                      <div ng-show="advancedOptions">
                        <!-- Wait for project to load since the directive uses `canI` checks that need it. -->
                        <div class="form-group" ng-if="project">
                          <osc-secrets model="buildConfig.secrets.gitSecret"
                                      namespace="projectName"
                                      display-type="source"
                                      type="source"
                                      service-account-to-link="builder"
                                      secrets-by-type="secretsByType"
                                      alerts="alerts"
                                      allow-multiple-secrets="false">
                          </osc-secrets>
                        </div>

                        <!-- Only show routing options if the image has exposed ports. -->
                        <osc-form-section
                          header="Routing"
                          about-title="Routing"
                          about="Routing is a way to make your application publicly visible. Otherwise you may only be able to access your application by its IP address, if allowed by the system administrator."
                          expand="true"
                          can-toggle="false"
                          ng-if="routing.portOptions.length"
                          >
                          <div class="form-group checkbox">
                            <label>
                              <input type="checkbox" ng-model="routing.include">
                              创建到应用的路由
                            </label>
                          </div>
                          <osc-routing
                            model="routing"
                            routing-disabled="!routing.include">
                          </osc-routing>
                        </osc-form-section>

                        <!-- /routing -->

                        <osc-form-section
                          header="Build Configuration"
                          about-title="Build Configuration"
                          about="A build configuration describes how to build your deployable image.  This includes
                            your source, the base builder image, and when to launch new builds."
                          expand="true"
                          can-toggle="false"
                          >
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="buildConfig.buildOnSourceChange"/>
                              配置webhook构建触发器
                              <span class="help action-inline">
                                <a href data-toggle="tooltip"
                                   data-original-title="The source repository must be configured to use the webhook to trigger a build when source is committed.">
                                  <i class="pficon pficon-help"></i>
                                </a>
                              </span>
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="buildConfig.buildOnImageChange"/>
                              当构建器基础镜像更改时自动构建新镜像
                              <span class="help action-inline">
                                <a href data-toggle="tooltip" data-original-title="Automatically building a new image when the builder image changes allows your code to always run on the latest updates.">
                                <i class="pficon pficon-help"></i>
                                </a>
                              </span>
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="buildConfig.buildOnConfigChange"/>
                              在创建构建配置时启动第一个构建
                            </label>
                          </div>
                          <h3>环境变量 <span class="appended-icon">(构建和运行时) <span class="help action-inline">
                            <a href data-toggle="tooltip"
                               data-original-title="环境变量用于配置和将信息传递给正在运行的容器。这些环境变量将在构建期间和运行时可用。">
                              <i class="pficon pficon-help"></i>
                            </a>
                          </span></span></h3>
                          <key-value-editor
                            entries="buildConfigEnvVars"
                            key-placeholder="name"
                            value-placeholder="value"
                            value-from-selector-options="valueFromObjects"
                            key-validator="[-._a-zA-Z][-._a-zA-Z0-9]*"
                            key-validator-error-tooltip="一个有效的环境变量名必须由字母、数字、“_”、“-”或“”组成。，而且不能以数字开头。"
                            add-row-link="添加值"
                            add-row-with-selectors-link="从配置映射或私密中添加值"></key-value-editor>
                        </osc-form-section>

                        <!-- /build config -->

                        <osc-form-section
                          header="Deployment Configuration"
                          about-title="部署配置"
                          about="部署配置描述集群如何配置应用程序，以及在什么条件下应该重新创建应用程序(例如当映像发生更改时)。"
                          expand="true"
                          can-toggle="false">
                          <div class="animate-drawer" ng-show="$parent.expand">
                            <h3>自动部署当</h3>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-model="deploymentConfig.deployOnNewImage">
                                新镜像可用
                              </label>
                            </div>
                            <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="deploymentConfig.deployOnConfigChange">
                              部署配置更改
                            </label>
                            </div>
                            <div>
                              <h3>环境变量 <span class="appended-icon">(仅运行时) <span class="help action-inline">
                                <a href="" data-toggle="tooltip"
                                   data-original-title="环境变量用于配置和将信息传递给正在运行的容器。这些环境变量只在运行时可用。">
                                  <i class="pficon pficon-help"></i>
                                </a>
                              </span></span></h3>
                              <p ng-show="DCEnvVarsFromImage.length">
                                <a
                                  href=""
                                  ng-click="showDCEnvs = (!showDCEnvs)">
                                  {{showDCEnvs ? 'Hide' : 'Show'}} 镜像环境变量
                                </a>
                              </p>
                              <div ng-show="showDCEnvs">
                                <div class="help-block">
                                  <p>这些变量存在于镜像上，并且在运行时可用。您可以在下面重写它们。</p>
                                </div>
                                <key-value-editor
                                  entries="DCEnvVarsFromImage"
                                  is-readonly
                                  cannot-add
                                  cannot-sort
                                  cannot-delete></key-value-editor>
                              </div>
                              <key-value-editor
                                entries="DCEnvVarsFromUser"
                                key-placeholder="name"
                                value-placeholder="value"
                                value-from-selector-options="valueFromObjects"
                                key-validator="[-._a-zA-Z][-._a-zA-Z0-9]*"
                                key-validator-error-tooltip="一个有效的环境变量名必须由字母、数字、“_”、“-”或“”组成。，而且不能以数字开头。"
                                add-row-link="添加值"
                                add-row-with-selectors-link="从配置映射或私密中添加值"></key-value-editor>
                            </div>
                          </div>
                        </osc-form-section>

                        <!-- /deployment config -->

                        <osc-form-section
                          header="Scaling"
                          about-title="Scaling"
                          about="伸缩定义构建镜像的运行实例的数量。"
                          expand="true"
                          can-toggle="false"
                          >
                          <div class="form-group">
                            <label for="scale-type">策略</label>
                            <ui-select ng-model="scaling.autoscale" input-id="scale-type" search-enabled="false" aria-describedby="scale-type-help">
                              <ui-select-match>{{$select.selected.label}}</ui-select-match>
                              <ui-select-choices repeat="option.value as option in scaling.autoscaleOptions">
                                {{option.label}}
                              </ui-select-choices>
                            </ui-select>
                            <div class="help-block" id="scale-type-help">
                              根据CPU使用情况手动或自动伸缩副本。
                            </div>
                            <div class="learn-more-block">
                              <a href="{{'pod_autoscaling' | helpLink}}" target="_blank">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="has-warning" ng-if="metricsWarning && scaling.autoscale">
                              <span class="help-block">
                                CPU指标可能不可用。为了使用水平pod自动伸缩控制器，集群管理员必须正确配置集群指标。
                              </span>
                            </div>
                          </div>
                          <div ng-if="!scaling.autoscale"
                               class="form-group"
                               ng-class="{ 'has-error': form.replicas.$dirty && form.replicas.$invalid }">
                            <label class="number">副本</label>
                            <input type="number"
                                   class="form-control"
                                   min="0"
                                   name="replicas"
                                   ng-model="scaling.replicas"
                                   ng-required="!scaling.autoscale"
                                   ng-disabled="scaling.autoscale"
                                   pattern="\d*"
                                   select-on-focus
                                   aria-describedby="replicas-help">
                            <div id="replicas-help">
                              <span class="help-block">镜像实例的数量。</span>
                            </div>
                            <div class="has-error" ng-show="form.replicas.$dirty && form.replicas.$invalid">
                              <span class="help-block">副本必须是大于或等于0的整数值。</span>
                            </div>
                          </div>

                          <osc-autoscaling ng-if="scaling.autoscale" model="scaling"></osc-autoscaling>

                          <div class="has-warning" ng-if="showCPURequestWarning">
                            <span class="help-block">
                              您应该在下面配置资源限制以实现自动伸缩。
                              如果没有CPU请求，自动伸缩将无法工作。
                            </span>
                          </div>

                        </osc-form-section>

                        <!-- /scaling -->

                        <osc-form-section
                          header="Resource Limits"
                          about-title="Resource Limits"
                          about="Resource limits control compute resource usage by a container on a node."
                          expand="true"
                          can-toggle="false"
                          >
                          <edit-request-limit
                              resources="container.resources"
                              type="cpu"
                              limit-ranges="limitRanges"
                              project="project">
                          </edit-request-limit>
                          <edit-request-limit
                              resources="container.resources"
                              type="memory"
                              limit-ranges="limitRanges"
                              project="project">
                          </edit-request-limit>
                          <div ng-repeat="problem in cpuProblems" class="has-error">
                            <span class="help-block">{{problem}}</span>
                          </div>
                          <div ng-repeat="problem in memoryProblems" class="has-error">
                            <span class="help-block">{{problem}}</span>
                          </div>
                        </osc-form-section>

                        <!-- /limits -->

                        <label-editor
                            labels="labelArray"
                            expand="true"
                            can-toggle="false"
                            help-text="每个标签应用于每个创建的资源。">
                        </label-editor>
                      </div>
                      <div class="mar-top-md">
                        <span ng-if="!advancedOptions">显示</span>
                        <span ng-if="advancedOptions">隐藏</span>
                        <a href="" ng-click="advancedOptions = !advancedOptions" role="button">高级选项</a>
                        用于资源、路由、构建和部署。
                      </div>
                      <div class="buttons gutter-bottom" ng-class="{'gutter-top': !alerts.length}">
                        <button type="submit"
                            class="btn btn-primary btn-lg"
                            ng-disabled="form.$invalid || nameTaken || cpuProblems.length || memoryProblems.length || disableInputs"
                            >Create</button>
                        <a class="btn btn-default btn-lg" href="" ng-click="cancel()" role="button">取消</a>
                      </div>
                    </form>
                  </fieldset>
                </div>
              </div><!-- /row -->
            </div><!-- /osc-form -->
          </div><!-- /col-* -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /middle-content -->
  </div><!-- /middle -->
