<div class="modal-resource-action">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">确认替换</h1>
  </div>
  <div class="modal-body">
    <div ng-if="!isList">
      <p>{{resourceKind}} '<strong>{{resourceName}}</strong>' 已经存在。</p>
      <p>您确认要用新的内容替换吗?</p>
    </div>

    <div ng-if="isList">
      <h1>有些资源项已经存在:</h1>
      <dl class="dl-horizontal">
        <dt ng-repeat-start="resource in updateResources">{{resource.kind}}</dt>
        <dd ng-repeat-end>{{resource.metadata.name}}</dd>
      </dl>
      <p>您确认要替换现有的资源项吗?</p>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel();">取消</button>
    <button class="btn btn-primary" type="button" ng-click="replace();">替换</button>
  </div>
</div>
