<div class="modal-resource-action">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">确认保存</h1>
  </div>
  <div class="modal-body">
    <p>保存部分日志针对 <strong>{{object.metadata.name}}</strong>?</p>
    <div class="mar-bottom-xl">
      日志可能不完整。继续将只保存当前显示的内容。
      <span ng-if="command">为了得到完整的日志, 运行命令</span>
    </div>
    <copy-to-clipboard ng-if="command" display-wide="true" clipboard-text="command"></copy-to-clipboard>
    <div class="mar-top-xl">
      了解更多 <a href="command-line" target="_blank">命令行工具</a>.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" type="button" ng-click="save()">保存</button>
  </div>
</div>
