<div class="modal-resource-action">
  <!-- Use a form so that the enter key submits when typing a project name to confirm. -->
  <form>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
        <span class="pficon pficon-close"></span>
      </button>
      <h1 class="modal-title">删除确认</h1>
    </div>
    <div class="modal-body">
      <p>您确定要删除 {{typeDisplayName || (kind | humanizeKind)}}
        '<strong>{{displayName ? displayName : resourceName}}</strong>'?</p>

      <p>
        <span ng-if="kind === 'DeploymentConfig'">
          这将删除部署配置、所有部署历史记录和任何正在运行的pod。
        </span>

        <span ng-if="kind === 'Deployment'">
          这将删除部署、所有部署历史记录和任何正在运行的pod。
        </span>

        <span ng-if="kind === 'ReplicationController' || kind === 'ReplicaSet' || kind === 'StatefulSet'">
          这将删除 {{typeDisplayName || (kind | humanizeKind)}} 和所有正在运行的pod。
        </span>

        <span ng-if="kind === 'ServiceInstance'">
          {{displayName ? displayName : resourceName}}和它的数据将不再对您的应用程序可用。
        </span>

        <span ng-if="isProject">
          这将删除与项目{{displayName ? displayName : resourceName}}相关的<strong>所有资源</strong>。
        </span>

        <strong>删除不能被撤消。</strong> 确保这是你真正想做的事情!
      </p>

      <div ng-show="typeNameToConfirm">
        <p>请输入{{typeDisplayName || (kind | humanizeKind)}}的名称来确认。</p>
        <p>
          <label class="sr-only" for="resource-to-delete">{{typeDisplayName || (kind | humanizeKind)}} 要删除</label>
          <input
              ng-model="confirmName"
              id="resource-to-delete"
              type="text"
              class="form-control input-lg"
              autocorrect="off"
              autocapitalize="none"
              spellcheck="false"
              autofocus>
        </p>
      </div>

      <!--
        If this is a pod, give the user the option of deleting it immediately with no grace period.
      -->
      <div ng-if="kind === 'Pod'" class="checkbox">
        <label>
          <input type="checkbox" ng-model="options.deleteImmediately">
          立即删除pod，无需等待进程优雅地终止
        </label>
      </div>

      <!--
        If this is a deployment config or replication controller with associated HPAs, prompt to
        delete the HPAs as well.
      -->
      <div ng-if="hpaList.length > 0">
        <p>
          <span ng-if="hpaList.length === 1">
            该资源有一个与之关联的自动伸缩控制器。
            建议您删除带有可缩放资源的自动伸缩控制器。
          </span>
          <span ng-if="hpaList.length > 1">
            该资源有与之关联的自动伸缩控制器。
            建议您删除带有可伸缩资源的自动伸缩控制器。
          </span>
        </p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.deleteHPAs">
            删除
            <span ng-if="hpaList.length === 1">
              水平Pod自动伸缩控制器 '<strong>{{hpaList[0].metadata.name}}</strong>'
            </span>
            <span ng-if="hpaList.length > 1">
              {{hpaList.length}} 关联水平Pod自动伸缩控制器
            </span>
          </label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel();">取消</button>
      <button ng-disabled="typeNameToConfirm && confirmName !== resourceName && confirmName !== displayName" class="btn btn-danger" type="submit" ng-click="delete();">删除</button>
    </div>
  </form>
</div>
