<div class="set-home-page">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">设置主页</h1>
  </div>
  <div class="modal-body">
    <p>
      注意:此设置是特定于浏览器的，不会跨浏览器维护。
    </p>
    <form name="homePageForm">
      <fieldset ng-disabled="loading">
        <div class="radio">
          <label>
            <input type="radio" ng-model="homePagePreference" value="catalog-home">
            应用商店 (默认)
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="homePagePreference" value="project-list">
            我的项目列表
          </label>
        </div>
        <div class="radio" ng-show="availableProjects.length >= 1">
          <label>
            <input type="radio" ng-model="homePagePreference" value="project-overview">
            项目概述{{availableProjects.length === 1 ? ' ' + (selectedProject | displayName) : ':'}}
          </label>
          <div class="select-project-container" ng-if="availableProjects.length > 1">
            <select-project is-required="homePagePreference === 'project-overview'"
                            skip-can-add-validation="true"
                            on-project-selected="onProjectSelected"
                            on-open="onOpen"
                            available-projects="availableProjects"
                            selected-project="selectedProject"
                            hide-create-project="true"
                            hide-label="true">
            </select-project>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" type="button"
            ng-disabled="homePageForm.$invalid || homePageForm.$pristine"
            ng-click="setHomePage()">保存</button>
  </div>
</div>
