<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div ng-if="!targetKind || !targetName || !project" class="mar-top-md">
            加载中...
          </div>
          <form name="form" ng-submit="save()" class="osc-form" ng-show="targetKind && targetName">
            <h1>
              自动伸缩 {{targetKind | humanizeKind : true}} {{targetName}}
            </h1>
            <div class="help-block">
              根据CPU使用情况自动伸缩副本。
            </div>
            <div class="learn-more-block" ng-class="{ 'gutter-bottom': metricsWarning || showCPURequestWarning }">
              <a href="{{'pod_autoscaling' | helpLink}}" target="_blank">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden> </i></a>
            </div>

            <!-- Warning: metrics not configured -->
            <div ng-if="metricsWarning" class="alert alert-warning">
              <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
              <span class="sr-only">警告:</span>
              您的集群管理员可能没有配置度量标准。自动伸缩需要度量标准。
            </div>

            <!-- Warning: CPU request not set -->
            <div ng-if="showCPURequestWarning" class="alert alert-warning">
              <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
              <span class="sr-only">警告:</span>
              这个 {{targetKind | humanizeKind}} 没有任何容器针对CPU
              <span ng-if="'cpu' | isRequestCalculated : project">有限制</span>
              <span ng-if="!('cpu' | isRequestCalculated : project)">有要求</span>
              。 如果没有CPU
              <span ng-if="'cpu' | isRequestCalculated : project">限制，</span>
              <span ng-if="!('cpu' | isRequestCalculated : project)">要求，</span>
              自动伸缩将无法工作
            </div>

            <!-- Warning: V2Beta1 HPA -->
            <div ng-if="usesV2Metrics" class="alert alert-warning">
              <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
              <span class="sr-only">警告:</span>
              这个自动伸缩控制使用更新的API，可以考虑使用
              <a href="command-line" target="_blank">命令行工具</a>
              来编辑。
            </div>


            <fieldset ng-disabled="disableInputs" class="gutter-top">
              <osc-autoscaling
                  model="autoscaling"
                  show-name-input="true"
                  name-read-only="kind === 'HorizontalPodAutoscaler'"
                  show-request-input="autoscaling.targetCPU && !(usesV2Metrics)">
              </osc-autoscaling>

              <label-editor
                labels="labels"
                expand="true"
                can-toggle="false"></label-editor>

              <div class="buttons gutter-top gutter-bottom">
                <button
                    type="submit"
                    class="btn btn-primary btn-lg"
                    ng-disabled="form.$invalid || form.$pristine">
                  保存
                </button>
                <a href="" ng-click="cancel()" class="btn btn-default btn-lg" role="button">取消</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div><!-- /middle-content -->
</div><!-- /middle -->
