<div class="middle surface-shaded" ng-show="buildConfig">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded">加载中...</div>
          <h1>
            编辑构建配置 {{buildConfig.metadata.name}}
            <small>&mdash; {{strategyType | startCase}} 构建策略</small>
          </h1>
          <fieldset ng-disabled="disableInputs">
            <form class="edit-form" name="form" novalidate ng-submit="save()">
              <div ng-if="buildConfig.spec.source.type !== 'None'" class="section">
                <h3>源配置</h3>
                <dl class="dl-horizontal left">
                  <div ng-if="sources.git">
                    <div class="row">
                      <div ng-class="{
                        'col-lg-8': view.advancedOptions,
                        'col-lg-12': !view.advancedOptions}">
                        <div class="form-group">
                          <label for="sourceUrl" class="required">Git 源码地址</label>
                          <div ng-class="{
                            'has-warning': form.sourceUrl.$touched && !sourceURLPattern.test(updatedBuildConfig.spec.source.git.uri),
                            'has-error': form.sourceUrl.$touched && form.sourceUrl.$error.required
                          }">
                            <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                            <input class="form-control"
                              id="sourceUrl"
                              name="sourceUrl"
                              ng-model="updatedBuildConfig.spec.source.git.uri"
                              type="text"
                              autocorrect="off"
                              autocapitalize="none"
                              spellcheck="false"
                              aria-describedby="source-url-help"
                              required>
                          </div>
                          <div class="help-block" id="source-url-help">
                            用来构建的Git源码地址。
                            <span ng-if="!view.advancedOptions">如果Git源码库是私有的， 请查看 <a href="" ng-click="view.advancedOptions = true">高级选项</a> 进行身份验证设置。</span>
                          </div>
                          <div class="has-error" ng-if="form.sourceUrl.$touched && form.sourceUrl.$error.required">
                            <span class="help-block">Git源码地址是必须的。</span>
                          </div>
                          <div class="has-warning" ng-if="updatedBuildConfig.spec.source.git.uri && form.sourceUrl.$touched && !sourceURLPattern.test(updatedBuildConfig.spec.source.git.uri)">
                            <span class="help-block">这可能不是一个有效的Git URL。检查到远程Git存储库的URL是否正确。</span>
                          </div>
                        </div>

                      </div>
                      <div class="col-lg-4" ng-if="view.advancedOptions">
                        <div class="form-group editor">
                          <label for="sourceRef">Git 参考</label>
                          <div>
                            <input class="form-control"
                              id="sourceRef"
                              name="sourceRef"
                              type="text"
                              ng-model="updatedBuildConfig.spec.source.git.ref"
                              placeholder="master"
                              autocorrect="off"
                              autocapitalize="none"
                              spellcheck="false"
                              aria-describedby="source-ref-help">
                          </div>
                          <div class="help-block" id="source-ref-help">可选的分支、标记或提交。</div>
                        </div>
                      </div>
                    </div>

                    <div ng-if="view.advancedOptions">
                      <div class="form-group">
                        <label for="sourceContextDir">关联目录</label>
                        <div>
                          <input class="form-control"
                            id="sourceContextDir"
                            name="sourceContextDir"
                            type="text"
                            ng-model="updatedBuildConfig.spec.source.contextDir"
                            placeholder="/"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            aria-describedby="context-dir-help">
                        </div>
                        <div class="help-block" id="context-dir-help">可选的应用程序源代码子目录，用作构建的关联目录。</div>
                      </div>
                      <div class="form-group">
                        <osc-secrets model="secrets.picked.gitSecret"
                                    namespace="projectName"
                                    display-type="source"
                                    type="source"
                                    service-account-to-link="builder"
                                    secrets-by-type="secrets.secretsByType"
                                    alerts="alerts">
                        </osc-secrets>
                      </div>
                    </div>
                  </div>

                  <div ng-if="sources.dockerfile">
                    <div class="form-group">
                    <label for="buildFrom">Dockerfile</label>
                      <div ui-ace="{
                        mode: 'dockerfile',
                        theme: 'dreamweaver',
                        rendererOptions: {
                          fadeFoldWidgets: true,
                          showPrintMargin: false
                        }
                      }" ng-model="updatedBuildConfig.spec.source.dockerfile" class="ace-bordered ace-inline dockerfile-mode"></div>
                    </div>

                    <div class="form-group" ng-if="updatedBuildConfig.spec.strategy.dockerStrategy.dockerfilePath && view.advancedOptions">
                      <label for="dockerfilePath">Dockerfile Path</label>
                      <div>
                        <input class="form-control"
                          id="dockerfilePath"
                          name="dockerfilePath"
                          type="text"
                          ng-model="updatedBuildConfig.spec.strategy.dockerStrategy.dockerfilePath"
                          autocorrect="off"
                          autocapitalize="none"
                          spellcheck="false">
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-if="strategyType === 'Docker' && view.advancedOptions">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="options.noCache">
                        在不重用缓存指令的情况下执行docker构建。
                        <span class="help action-inline">
                          <a href="">
                            <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Will run the docker build with '--no-cache=true' flag">
                            </i>
                          </a>
                        </span>
                      </label>
                    </div>
                  </div>

                  <div class="form-groups" ng-show="sources.images">
                    <div class="single-image-source" ng-if="sourceImages.length === 1">

                      <div class="form-group">
                        <label>镜像来源</label>
                        <ui-select required ng-model="imageOptions.fromSource.type" search-enabled="false">
                          <ui-select-match>{{$select.selected | startCase}}</ui-select-match>
                          <ui-select-choices repeat="type in imageSourceTypes">
                            {{type | startCase}}
                          </ui-select-choices>
                        </ui-select>
                      </div>

                      <div class="form-group" ng-if="imageOptions.fromSource.type==='ImageStreamTag'" >
                        <istag-select include-shared-namespace="true"
                                      select-required="true"
                                      model="imageOptions.fromSource.imageStreamTag"></istag-select>
                      </div>

                      <div ng-if="imageOptions.fromSource.type==='ImageStreamImage'" class="form-group">
                        <label for="imageSourceImage">镜像流指定镜像</label>
                        <div>
                          <input class="form-control"
                            type="text"
                            ng-model="imageOptions.fromSource.imageStreamImage"
                            placeholder="example: openshift/ruby-20-centos7@603bfa418"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            required>
                        </div>
                      </div>


                      <div ng-if="imageOptions.fromSource.type==='DockerImage'" class="form-group">
                        <label for="imageSourceLink">Docker镜像仓库</label>
                        <div>
                          <input class="form-control"
                            id="imageSourceLink"
                            name="imageSourceLink"
                            type="text"
                            ng-model="imageOptions.fromSource.dockerImage"
                            placeholder="example: centos/ruby-20-centos7:latest"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="buildFrom">源路径和目标路径<span class="help action-inline">
                          <a href="">
                          <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Paths is a list of source and destination paths to copy from the image. At least one pair has to be specified."></i>
                          </a>
                        </span></label>
                        <key-value-editor
                          entries="imageSourcePaths"
                          key-placeholder="Source Path"
                          key-validator="\/.*?$"
                          value-placeholder="Destination Dir"
                          key-validator-error-tooltip="A valid Source Path is an absolute path beginning with '/'"
                          add-row-link="Add image source path"></key-value-editor>
                      </div>
                    </div>


                    <div class="multiple-image-source" ng-if="sourceImages.length !== 1">
                      <label for="imageSourceFrom">镜像来源<span class="help action-inline">
                        <a href="">
                          <i class="pficon pficon-info" style="cursor: help;" aria-hidden="true" data-toggle="tooltip" data-original-title="This Build Config contains more then one Image Source. To edit them use the YAML editor.">
                        </i>
                        </a>
                      </span></label>
                      <div ng-repeat="fromObject in imageSourceFromObjects" class="imageSourceItem">
                        {{selectTypes[fromObject.kind]}}: {{fromObject | imageObjectRef : buildConfig.metadata.namespace}}
                      </div>
                    </div>
                  </div>
                </dl>
                <div ng-if="!sources.git && !sources.dockerfile && !sources.images">
                  此构建配置没有可编辑的源类型。
                </div>
              </div>

              <div ng-if="updatedBuildConfig | isJenkinsPipelineStrategy" class="section">
                <h3 ng-class="{ 'with-divider': !sources.none }">Jenkins流水线配置</h3>
                <div class="form-group" ng-if="buildConfig.spec.source.type === 'Git'">
                  <label for="jenkinsfile-type">Jenkinsfile 类别</label>
                  <ui-select search-enabled="false" ng-model="jenkinsfileOptions.type" input-id="jenkinsfile-type" aria-describedby="jenkinsfile-type-help">
                    <ui-select-match>{{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="type.id as type in jenkinsfileTypes">
                      {{type.title}}
                    </ui-select-choices>
                  </ui-select>
                  <div class="help-block" id="jenkinsfile-type-help">
                    使用源码库中的Jenkinsfile或在构建配置中直接指定Jenkinsfile内容。
                  </div>
                </div>

                <div ng-if="jenkinsfileOptions.type === 'path'" class="form-group">
                  <label for="jenkinsfilePath">Jenkinsfile 源码路径</label>
                  <input class="form-control"
                         id="jenkinsfilePath"
                         name="jenkinsfilePath"
                         type="text"
                         ng-model="updatedBuildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath"
                         autocorrect="off"
                         autocapitalize="none"
                         spellcheck="false"
                         aria-describedby="jenkinsfile-path-help">
                  <div class="help-block" id="jenkinsfile-path-help">
                    相对于关联目录，到Jenkinsfile的可选路径。
                    在关联目录中默认为Jenkinsfile。
                  </div>
                </div>

                <div ng-if="jenkinsfileOptions.type === 'inline'">
                  <label>Jenkinsfile</label>
                  <div ui-ace="{
                    mode: 'groovy',
                    theme: 'eclipse',
                    rendererOptions: {
                      fadeFoldWidgets: true,
                      showPrintMargin: false
                    }
                  }" ng-model="updatedBuildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfile" class="ace-bordered ace-inline"></div>
                </div>
                <div class="mar-top-md mar-bottom-md">
                  <a ng-if="!view.jenkinsfileExamples" href="" ng-click="view.jenkinsfileExamples = true">什么是 Jenkinsfile?</a>
                </div>
                <div ng-if="view.jenkinsfileExamples" class="editor-examples">
                  <div class="pull-right mar-top-md">
                    <a href="" ng-click="view.jenkinsfileExamples = false">隐藏例子</a>
                  </div>
                  <h4>Jenkinsfile 例子</h4>
                  <ng-include src="'views/edit/jenkinsfile-examples.html'"></ng-include>
                </div>
              </div>
              <div ng-if="sources.none && !(updatedBuildConfig | isJenkinsPipelineStrategy)">
                <div class="form-group">
                  <i>没有为此构建配置定义源输入。</i>
                </div>
              </div>

              <div ng-if="strategyType !== 'JenkinsPipeline'" class="section">
                <h3 class="with-divider">镜像配置</h3>
                <dl class="dl-horizontal left">

                  <div>
                    <div class="form-group">
                      <label for="buildFrom">构建从</label>
                      <ui-select required ng-model="imageOptions.from.type" search-enabled="false">
                        <ui-select-match>{{$select.selected | startCase}}</ui-select-match>
                        <ui-select-choices repeat="type in buildFromTypes">
                          {{type | startCase}}
                        </ui-select-choices>
                      </ui-select>
                    </div>


                    <div class="form-group" ng-if="imageOptions.from.type==='ImageStreamTag'">
                      <istag-select include-shared-namespace="true"
                                    select-required="true"
                                    model="imageOptions.from.imageStreamTag"></istag-select>
                    </div>

                    <div ng-if="imageOptions.from.type==='DockerImage'" class="form-group">
                      <label for="FromTypeLink">Docker 镜像仓库</label>
                      <div>
                        <input class="form-control"
                          type="text"
                          ng-model="imageOptions.from.dockerImage"
                          autocorrect="off"
                          autocapitalize="none"
                          placeholder="example: centos/ruby-20-centos7:latest"
                          spellcheck="false"
                          required>
                      </div>
                    </div>

                    <div ng-if="imageOptions.from.type==='ImageStreamImage'" class="form-group">
                      <label for="FromTypeImage">镜像流指定镜像</label>
                      <div>
                        <input class="form-control"
                          type="text"
                          ng-model="imageOptions.from.imageStreamImage"
                          placeholder="example: openshift/ruby-20-centos7@603bfa418"
                          autocorrect="off"
                          autocapitalize="none"
                          spellcheck="false"
                          required>
                      </div>
                    </div>
                  </div>

                  <!-- Wait for project to load since the directive uses `canI` checks that need it. -->
                  <div class="form-group" ng-if="project && strategyType !== 'JenkinsPipeline'">
                    <!-- Use ng-show instead of ng-if when checking `view.advancedOptions` so
                         the form is still marked invalid if a hidden field has errors. -->
                    <div ng-show="view.advancedOptions">
                      <osc-secrets model="secrets.picked.pullSecret"
                                  namespace="projectName"
                                  display-type="pull"
                                  type="image"
                                  secrets-by-type="secrets.secretsByType"
                                  service-account-to-link="builder"
                                  alerts="alerts">
                      </osc-secrets>
                    </div>
                  </div>

                  <div class="form-group" ng-if="view.advancedOptions">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="options.forcePull">
                        始终从docker镜像库中提取构建镜像，即使它是本地存在的
                      </label>
                    </div>
                  </div>

                  <div>
                    <div class="form-group">
                      <label for="buildFrom">推送到</label>
                      <ui-select required ng-model="imageOptions.to.type" search-enabled="false">
                        <ui-select-match>{{$select.selected | startCase}}</ui-select-match>
                        <ui-select-choices repeat="type in pushToTypes">
                          {{type | startCase}}
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="form-group" ng-if="imageOptions.to.type==='ImageStreamTag'">
                      <istag-select model="imageOptions.to.imageStreamTag"
                                    select-required="true"
                                    allow-custom-tag="true"></istag-select>
                    </div>

                    <div ng-if="imageOptions.to.type==='DockerImage'" class="form-group">
                      <label for="pushToLink">Docker镜像仓库</label>
                      <div>
                        <input class="form-control"
                          id="pushToLink"
                          name="pushToLink"
                          type="text"
                          ng-model="imageOptions.to.dockerImage"
                          placeholder="example: centos/ruby-20-centos7:latest"
                          autocorrect="off"
                          autocapitalize="none"
                          spellcheck="false"
                          required>
                      </div>
                    </div>

                    <!-- Wait for project to load since the directive uses `canI` checks that need it. -->
                    <div ng-if="project">
                      <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                      <div class="form-group" ng-show="view.advancedOptions">
                        <osc-secrets model="secrets.picked.pushSecret"
                                    namespace="projectName"
                                    display-type="push"
                                    type="image"
                                    disable-input="imageOptions.to.type==='None'"
                                    service-account-to-link="builder"
                                    secrets-by-type="secrets.secretsByType"
                                    alerts="alerts">
                        </osc-secrets>
                      </div>
                    </div>
                  </div>
                </dl>
              </div>

              <div ng-if="!(updatedBuildConfig | isJenkinsPipelineStrategy)" class="section">
                <h3 class="with-divider">环境变量<span class="help action-inline">
                  <a href="">
                  <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="环境变量用于配置和将信息传递给正在运行的容器。这些环境变量将在构建期间和运行时可用。"></i>
                  </a>
                </span></h3>
                <div>
                  <key-value-editor
                    ng-if="envVars"
                    entries="envVars"
                    key-placeholder="Name"
                    value-placeholder="Value"
                    show-header
                    value-from-selector-options="valueFromObjects"
                    key-validator="[-._a-zA-Z][-._a-zA-Z0-9]*"
                    key-validator-error-tooltip="一个有效的环境变量名必须由字母、数字、“_”、“-”或“”组成。，而且不能以数字开头。"
                    add-row-link="添加值"
                    add-row-with-selectors-link="从配置映射或私密中添加值"></key-value-editor>
                </div>
              </div>
              <div ng-if="sources.git || !(updatedBuildConfig | isJenkinsPipelineStrategy)" class="section">
                <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                <div ng-show="view.advancedOptions">
                  <h3 class="with-divider">触发器
                    <a ng-href="{{'build-triggers' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
                  </h3>
                  <dl class="dl-horizontal left">
                    <div>
                      <div ng-if="sources.git">
                        <osc-webhook-triggers
                          type="webhook"
                          form="form"
                          webhook-secrets="webhookSecrets"
                          webhook-triggers="triggers.webhookTriggers"
                          namespace="projectName">
                        </osc-webhook-triggers>
                      </div>

                      <!-- TODO: Uncomment once ConfigChange trigger will work. Based on https://github.com/openshift/origin-web-console/issues/321  -->
                      <!-- <h5>Config change</h5>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="triggers.configChangeTrigger.present">
                            Automatically build a new image when the build configuration changes
                        </label>
                      </div> -->

                      <div ng-if="!(updatedBuildConfig | isJenkinsPipelineStrategy)">
                        <h5>镜像变更</h5>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="triggers.builderImageChangeTrigger.present" ng-disabled="imageOptions.from.type === 'None'">
                              当构建器的基础镜像更改时自动构建新镜像
                              <span class="help action-inline">
                                <a href>
                                  <i class="pficon pficon-help" aria-hidden="true"
                                  data-toggle="tooltip" data-original-title="当构建器镜像更改允许您的代码始终在最新更新上运行时，自动构建新镜像。">
                                </i>
                                </a>
                              </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </dl>
                </div>
              </div>
              <!-- Wait for project to load since the directive uses `canI` checks that need it. -->
              <div class="section" ng-if="project && !(updatedBuildConfig | isJenkinsPipelineStrategy)">
                <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                <div ng-show="view.advancedOptions">
                  <h3 class="with-divider">
                    构建私密
                    <a href="{{'source_secrets' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
                  </h3>
                  <div class="form-group">
                    <osc-source-secrets model="secrets.picked.sourceSecrets"
                                namespace="projectName"
                                secrets-by-type="secrets.secretsByType"
                                strategy-type="strategyType"
                                service-account-to-link="builder"
                                alerts="alerts"
                                display-type="source"
                                type="source">
                    </osc-source-secrets>
                  </div>
                </div>
              </div>
              <div class="section mar-bottom-lg" ng-if="view.advancedOptions">
                <h3 class="with-divider">运行策略
                  <span class="help action-inline">
                    <a href="">
                      <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="构建运行策略描述了从构建配置创建的构建运行的顺序。"></i>
                    </a>
                  </span>
                </h3>
                <div class="form-group">
                  <label class="sr-only">运行策略类别</label>
                  <ui-select required ng-model="updatedBuildConfig.spec.runPolicy" search-enabled="false">
                    <ui-select-match>{{$select.selected | sentenceCase}}</ui-select-match>
                    <ui-select-choices repeat="type in runPolicyTypes">
                      {{type | sentenceCase}}
                    </ui-select-choices>
                  </ui-select>
                </div>

                <div ng-switch="updatedBuildConfig.spec.runPolicy">
                  <div class="help-block" ng-switch-when="Serial">从这个构建配置触发的构建将按它们被触发的顺序一次运行一个。</div>
                  <div class="help-block" ng-switch-when="Parallel">由这个构建配置触发的构建将同时运行。他们将完成的顺序不能保证。</div>
                  <div class="help-block" ng-switch-when="SerialLatestOnly">由这个构建配置触发的构建将一次运行一个。当前运行的构建完成后，将运行的下一个构建是创建的最新构建。其他排队的构建将被取消。</div>
                  <div class="help-block" ng-switch-default>从这个构建配置触发的构建将使用 {{updatedBuildConfig.spec.runPolicy | sentenceCase}} 策略运行。</div>
                </div>
              </div>

              <div ng-if="!(updatedBuildConfig | isJenkinsPipelineStrategy)" class="section">
                <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                <div ng-show="view.advancedOptions">
                  <h3 class="with-divider">
                    Post-Commit Hooks
                    <span class="help action-inline">
                      <a href="{{'build-hooks' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link"></i></span></a>
                    </span>
                  </h3>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="view.hasHooks" aria-describedby="build-hooks-help">
                      创建镜像后运行构建挂钩
                    </label>
                    <div class="help-block" id="build-hooks-help">
                      构建挂钩允许您在构建结束时运行命令来验证镜像。
                    </div>
                  </div>

                  <div ng-if="view.hasHooks">
                    <div class="form-group">
                      <label>Hook Types</label>
                      <ui-select
                         ng-model="buildHookSelection.type"
                         title="Choose a type of build hook">
                        <ui-select-match>{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="type in buildHookTypes">
                          {{type.label}}
                        </ui-select-choices>
                      </ui-select>
                    </div>

                    <fieldset>
                      <div ng-if="buildHookSelection.type.id === 'script' || buildHookSelection.type.id === 'scriptArgs'">
                        <label class="required">脚本</label>
                        <div
                          ui-ace="{
                            mode: 'sh',
                            theme: 'eclipse',
                            rendererOptions: {
                              fadeFoldWidgets: true,
                              showPrintMargin: false
                            }
                          }"
                          ng-model="updatedBuildConfig.spec.postCommit.script"
                          required
                          class="ace-bordered ace-inline">
                        </div>
                      </div>

                      <div ng-if="buildHookSelection.type.id === 'command' || buildHookSelection.type.id === 'commandArgs'">
                        <label class="required">命令</label>
                        <edit-command
                          args="updatedBuildConfig.spec.postCommit.command"
                          placeholder="Add to command"
                          is-required="true">
                        </edit-command>
                      </div>

                      <div ng-if="buildHookSelection.type.id === 'args' || buildHookSelection.type.id === 'commandArgs' || buildHookSelection.type.id === 'scriptArgs' "
                           ng-class="{ 'mar-top-lg': buildHookSelection.type.id === 'scriptArgs' }">
                        <label class="required">参数</label>
                        <edit-command
                          args="updatedBuildConfig.spec.postCommit.args"
                          type="arguments"
                          description="getArgumentsDescription()"
                          is-required="true">
                        </edit-command>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>

              <div class="gutter-top">
                <a href="" ng-click="view.advancedOptions = !view.advancedOptions" role="button">{{view.advancedOptions ? 'Hide' : 'Show'}} 高级选项</a>
              </div>
              <div class="buttons gutter-top-bottom">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg"
                  ng-disabled="form.$invalid || form.$pristine || disableInputs">
                  保存
                </button>
                <button class="btn btn-default btn-lg" ng-click="cancel()">取消</button>
              </div>
           </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
</div>
