<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div class="mar-top-xl">
            <h1>编辑配置映射 {{configMap.metadata.name}}</h1>
            <div class="help-block">
              配置映射保存的键/值对可用于Pods读取应用程序的配置。
            </div>
            <div class="mar-top-xl">
              <div ng-if="!loaded">加载中...</div>
              <form ng-if="loaded" name="forms.editConfigMapForm">
                <div ng-if="resourceChanged && !resourceDeleted && !updatingNow" class="alert alert-warning">
                  <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
                  <span class="sr-only">Warning:</span>
                  配置映射{{configMap.metadata.name}}自从您开始编辑就已发生了变化。
                  您需要复制您所做的所有修改并再次编辑配置映射。
                </div>
                <div ng-if="resourceDeleted" class="alert alert-warning">
                  <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
                  <span class="sr-only">Warning:</span>
                  配置映射 {[configMap.metadata.name}} 自从您开始编辑就已被删除。
                </div>
                <fieldset ng-disabled="disableInputs">
                  <edit-config-map-or-secret model="configMap" type="config map"></edit-config-map-or-secret>
                  <div class="button-group gutter-top gutter-bottom">
                    <button type="submit"
                        class="btn btn-primary btn-lg"
                        ng-click="updateConfigMap()"
                        ng-disabled="forms.editConfigMapForm.$invalid || forms.editConfigMapForm.$pristine || disableInputs || resourceChanged || resourceDeleted"
                        value="">保存</button>
                    <a class="btn btn-default btn-lg" href="" ng-click="cancel()" role="button">关闭</a>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /middle-content -->
</div><!-- /middle -->
