<div class="middle surface-shaded" ng-show="deploymentConfig">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded">Loading...</div>
          <div ng-if="loaded">
            <h1>
              修改部署配置 {{deploymentConfig.metadata.name}}
            </h1>
            <fieldset ng-disabled="disableInputs">
              <form class="edit-form" name="form" novalidate>
                <div class="section">
                  <h3>部署策略</h3>
                  <dl class="dl-horizontal left">
                    {{strategyParamsName}}
                    <div class="form-group strategy-name">
                      <label class="picker-label">策略类型</label>
                      <ui-select ng-model="strategyData.type" search-enabled="false" ng-change="strategyChanged()">
                        <ui-select-match>{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="strategyType in deploymentConfigStrategyTypes">
                          {{strategyType}}
                        </ui-select-choices>
                      </ui-select>
                      <div>
                        <span ng-switch="strategyData.type">
                          <span class="help-block" ng-switch-when="Recreate">
                            Recreate策略具有基本的上线行为，并支持将代码注入到部署过程中的生命周期钩子。
                            <a ng-href="{{'recreate_strategy' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
                          </span>
                          <span class="help-block" ng-switch-when="Rolling">
                            Rolling策略先等待Pods准备检查，缩减旧的部件，然后再扩大规模。
                            <a ng-href="{{'rolling_strategy' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
                          </span>
                          <span class="help-block" ng-switch-when="Custom">
                            Custom策略允许您指定将提供您自己的部署行为的容器镜像。
                            <a ng-href="{{'custom_strategy' | helpLink}}" target="_blank"><span class="learn-more-inline">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
                          </span>
                        </span>
                      </div>
                    </div>

                    <div ng-if="strategyData.type === 'Custom'" >
                      <div class="form-group">
                        <label for="image-name">镜像名称</label>
                        <div>
                          <input class="form-control"
                            id="image-name"
                            name="imageName"
                            ng-model="strategyData.customParams.image"
                            type="text"
                            autocorrect="off"
                            autocapitalize="none"
                            spellcheck="false"
                            aria-describedby="image-name-help">
                        </div>
                        <div class="help-block" id="image-name-help">可部署的镜像。</div>
                      </div>

                      <div class="form-group">
                        <label>命令</label>
                        <edit-command args="strategyData.customParams.command"></edit-command>
                      </div>
                      <div class="form-group">
                        <label>环境变量</label>
                        <key-value-editor
                          entries="strategyData.customParams.environment"
                          key-validator="[a-zA-Z_][a-zA-Z0-9_]*"
                          key-validator-error-tooltip="一个有效的环境变量名是一个字母数字(A -z和0-9)字符串，从一个可能包含下划线的字母开始。"
                          value-from-selector-options="valueFromObjects"
                          add-row-link="添加值"
                          add-row-with-selectors-link="从配置映射或密钥中添加值"></key-value-editor>
                      </div>
                    </div>
                    <div ng-if="strategyData.type !== 'Custom'" >
                      <div class="form-group">
                        <label for="strategy-timeout">超时</label>
                        <span class="input-group"
                           ng-class="{ 'has-error': form.strategyTimeout.$invalid && form.strategyTimeout.$touched }">
                          <input id="strategy-timeout"
                              type="number"
                              name="strategyTimeout"
                              ng-model="strategyData[strategyParamsPropertyName].timeoutSeconds"
                              placeholder="600"
                              pattern="\d*"
                              min="0"
                              select-on-focus
                              class="form-control"
                              aria-describedby="strategy-timeout-help">
                          <span class="input-group-addon">秒</span>
                        </span>
                        <div class="help-block" id="strategy-timeout-help">
                          Pod 运行超时时间。
                        </div>
                        <div ng-if="form.strategyTimeout.$invalid && form.strategyTimeout.$touched" class="has-error">
                          <div ng-if="form.strategyTimeout.$error.number" class="help-block">
                            必须是一个数字。
                          </div>
                          <div ng-if="form.strategyTimeout.$error.min" class="help-block">
                            超时不能是负数。
                          </div>
                          <span ng-if="form.strategyTimeout.$error.pattern && !form.strategyTimeout.$error.min" class="help-block">
                            必须是一个整数。
                          </span>
                        </div>
                      </div>

                      <div ng-if="strategyData.type === 'Rolling'">
                        <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                        <div ng-show="view.advancedStrategyOptions">
                          <div class="form-group">
                            <label for="update-period">更新周期</label>
                            <span class="input-group"
                               ng-class="{ 'has-error': form.updatePeriod.$invalid && form.updatePeriod.$touched }">
                              <input id="update-period"
                                  type="number"
                                  placeholder="1"
                                  name="updatePeriod"
                                  ng-model="strategyData[strategyParamsPropertyName].updatePeriodSeconds"
                                  pattern="\d*"
                                  min="0"
                                  select-on-focus
                                  class="form-control"
                                  aria-describedby="update-period-help">
                              <span class="input-group-addon">秒</span>
                            </span>
                            <div class="help-block" id="update-period-help">
                              在重新尝试运行单个pod之间等待时间。
                            </div>
                            <div ng-if="form.updatePeriod.$invalid && form.updatePeriod.$touched" class="has-error">
                              <div ng-if="form.updatePeriod.$error.number" class="help-block">
                                必须是一个数字。
                              </div>
                              <div ng-if="form.updatePeriod.$error.min" class="help-block">
                                更新周期不可能是负数。
                              </div>
                              <span ng-if="form.updatePeriod.$error.pattern && !form.updatePeriod.$error.min" class="help-block">
                                必须是一个整数。
                              </span>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="interval">时间间隔</label>
                            <span class="input-group"
                               ng-class="{ 'has-error': form.interval.$invalid && form.interval.$touched }">
                              <input id="interval"
                                  type="number"
                                  placeholder="1"
                                  name="interval"
                                  ng-model="strategyData[strategyParamsPropertyName].intervalSeconds"
                                  pattern="\d*"
                                  min="0"
                                  select-on-focus
                                  class="form-control"
                                  aria-describedby="interval-help">
                              <span class="input-group-addon">秒</span>
                            </span>
                            <div class="help-block" id="interval-help">
                              在运行一个pod之后，在轮询部署状态之间等待时间。
                            </div>
                            <div ng-if="form.interval.$invalid && form.interval.$touched" class="has-error">
                              <div ng-if="form.interval.$error.number" class="help-block">
                                必须是一个数字。
                              </div>
                              <div ng-if="form.interval.$error.min" class="help-block">
                                时间间隔不能是负数。
                              </div>
                              <span ng-if="form.interval.$error.pattern && !form.interval.$error.min" class="help-block">
                                必须是一个整数。
                              </span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="max-unavailable">最大不可用 Pods</label>
                          <div ng-class="{ 'has-error': form.maxUnavailable.$invalid && form.maxUnavailable.$touched }">
                            <input id="max-unavailable"
                                type="text"
                                placeholder="25%"
                                name="maxUnavailable"
                                ng-model="strategyData[strategyParamsPropertyName].maxUnavailable"
                                ng-pattern="/^\d+%?$/"
                                select-on-focus
                                class="form-control"
                                aria-describedby="max-unavailable-help">
                          </div>
                          <div class="help-block" id="max-unavailable-help">
                            在滚动部署期间可能无法使用的最大pods数。这可以是一个百分比(10%)或者一个整数(1)。
                          </div>
                          <div ng-if="form.maxUnavailable.$invalid && form.maxUnavailable.$touched && form.maxUnavailable.$error.pattern" class="has-error">
                            <span class="help-block">
                              必须是非负整数或百分数。
                            </span>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="max-surge">最大激增比 Pods</label>
                          <div ng-class="{ 'has-error': form.maxSurge.$invalid && form.maxSurge.$touched }">
                            <input id="max-surge"
                                type="text"
                                placeholder="25%"
                                name="maxSurge"
                                ng-model="strategyData[strategyParamsPropertyName].maxSurge"
                                ng-pattern="/^\d+%?$/"
                                select-on-focus
                                class="form-control"
                                aria-describedby="max-surge-help">
                          </div>
                          <div class="help-block" id="max-surge-help">
                            当滚动部署正在进行时，可以在初始数量的pod之上调度的最大pod数。这可以是百分比(10%)或整数(1)。
                          </div>
                          <div ng-if="form.maxSurge.$invalid && form.maxSurge.$touched && form.maxSurge.$error.pattern" class="has-error">
                            <span class="help-block">
                              必须是非负整数或百分数。
                            </span>
                          </div>
                        </div>
                      </div>

                      <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                      <div ng-show="view.advancedStrategyOptions">
                        <div class="lifecycle-hooks">
                          <div class="lifecycle-hook" id="pre-lifecycle-hook">

                            <h3>Pre 生命周期钩子</h3>
                            <edit-lifecycle-hook
                              model="strategyData[strategyParamsPropertyName].pre"
                              type="pre"
                              available-volumes="volumeNames"
                              available-containers="containerNames"
                              available-secrets="availableSecrets"
                              available-config-maps="availableConfigMaps"
                              namespace="projectName">
                            </edit-lifecycle-hook>
                          </div>

                          <div ng-if="strategyData.type !== 'Rolling'" class="lifecycle-hook" id="mid-lifecycle-hook" >
                            <h3>Mid 生命周期钩子</h3>
                            <edit-lifecycle-hook
                              model="strategyData[strategyParamsPropertyName].mid"
                              type="mid"
                              available-volumes="volumeNames"
                              available-containers="containerNames"
                              available-secrets="availableSecrets"
                              available-config-maps="availableConfigMaps"
                              namespace="projectName">
                            </edit-lifecycle-hook>
                          </div>

                          <div class="lifecycle-hook" id="post-lifecycle-hook" >
                            <h3>Post 生命周期钩子</h3>
                            <edit-lifecycle-hook
                              model="strategyData[strategyParamsPropertyName].post"
                              type="post"
                              available-volumes="volumeNames"
                              available-containers="containerNames"
                              available-secrets="availableSecrets"
                              available-config-maps="availableConfigMaps"
                              namespace="projectName">
                            </edit-lifecycle-hook>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mar-top-lg" ng-if="strategyData.type !== 'Custom'">
                      <div ng-if="!view.advancedStrategyOptions">要设置附加参数或编辑生命周期钩子， 请查看 <a href="" ng-click="view.advancedStrategyOptions = true">高级战略选项</a></div>
                      <a ng-if="view.advancedStrategyOptions" href="" ng-click="view.advancedStrategyOptions = false">隐藏高级战略选项</a>
                    </div>
                  </dl>
                </div>


                <div class="section">
                  <h3 class="with-divider">镜像</h3>
                  <dl class="dl-horizontal left">

                    <div ng-repeat="(containerName, containerConfig) in containerConfigByName">
                      <div class="container-name">
                        <h4>容器 {{containerName}}</h4>
                      </div>
                      <div class="checkbox form-group">
                        <label>
                          <input type="checkbox" ng-model="containerConfig.hasDeploymentTrigger">
                          从镜像流标签中部署镜像
                        </label>
                      </div>
                      <div ng-if="containerConfig.hasDeploymentTrigger">
                        <label class="required">镜像流标签</label>
                        <istag-select model="containerConfig.triggerData.istag" select-required="true" select-disabled="disableInputs" include-shared-namespace="true"></istag-select>

                        <div class="checkbox form-group">
                          <label>
                            <input type="checkbox" ng-model="containerConfig.triggerData.automatic">
                            当镜像发生变化时，自动启动一个新的部署
                          </label>
                        </div>
                      </div>

                      <div ng-if="!containerConfig.hasDeploymentTrigger" class="form-group">
                        <label for="container-{{$index}}-image-name" class="required">镜像名称</label>
                        <input class="form-control"
                          id="container-{{$index}}-image-name"
                          name="container{{$index}}ImageName"
                          ng-model="containerConfig.image"
                          type="text"
                          autocorrect="off"
                          autocapitalize="none"
                          spellcheck="false"
                          required>
                      </div>
                    </div>

                    <div class="checkbox form-group">
                      <label>
                        <input type="checkbox" ng-model="triggers.hasConfigTrigger">
                        在部署配置更改时自动启动新的部署
                      </label>
                    </div>

                    <!-- Use ng-show instead of ng-if so the form is still marked invalid if a hidden field has errors. -->
                    <div ng-show="view.advancedImageOptions">
                      <div class="mar-top-lg">
                        <osc-secrets model="secrets.pullSecrets"
                                    namespace="projectName"
                                    display-type="pull"
                                    type="image"
                                    secrets-by-type="secretsByType"
                                    service-account-to-link="default"
                                    alerts="alerts"
                                    allow-multiple-secrets="true">
                        </osc-secrets>
                      </div>
                    </div>

                    <div class="mar-top-lg">
                      <div ng-if="!view.advancedImageOptions">要从私有注册镜像中提取镜像的密钥, 请查看 <a href="" ng-click="view.advancedImageOptions = true">高级镜像选项</a></div>
                      <a ng-if="view.advancedImageOptions" href="" ng-click="view.advancedImageOptions = false">隐藏高级镜像选项</a>
                    </div>
                  </dl>
                </div>


                <div class="section">
                  <h3 class="with-divider">环境变量</h3>

                  <div ng-repeat="(containerName, containerConfig) in containerConfigByName">
                    <div class="container-name">
                      <h4>容器 {{containerName}}</h4>
                    </div>
                    <key-value-editor
                      ng-if="containerConfig"
                      entries="containerConfig.env"
                      value-from-selector-options="valueFromObjects"
                      key-validator="[a-zA-Z_][a-zA-Z0-9_]*"
                      key-validator-error-tooltip="一个有效的环境变量名是一个字母数字(A -z和0-9)字符串，从一个可能包含下划线的字母开始。"
                      add-row-link="添加值"
                      add-row-with-selectors-link="从配置映射或密钥中添加值"></key-value-editor>
                  </div>
                </div>

                <pause-rollouts-checkbox
                    deployment="updatedDeploymentConfig"
                    always-visible="true">
                </pause-rollouts-checkbox>

                <div class="buttons gutter-top-bottom">
                  <button ng-click="save()" class="btn btn-primary btn-lg" ng-disabled="form.$invalid || form.$pristine || disableInputs">
                    保存
                  </button>
                  <button ng-click="cancel()" class="btn btn-default btn-lg">取消</button>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
