<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div ng-show="!containers.length" class="mar-top-md">加载中...</div>
          <form ng-show="containers.length" name="form" class="health-checks-form" novalidate>
            <h1>健康检查: {{name}}</h1>
            <div class="help-block">
              使用就绪性和活性探测器定期检查容器的健康状况。
              <div class="learn-more-block">
                <a href="{{'application_health' | helpLink}}" target="_blank">了解更多&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
              </div>
            </div>
            <fieldset ng-disabled="disableInputs">
              <div ng-repeat="container in containers">
                <h2 ng-if="containers.length > 1">容器 {{container.name}}</h2>
                <h3>就绪探针</h3>
                <div class="help-block mar-bottom-md" ng-if="$first">
                  就绪探针检查容器是否准备好处理请求。
                  一个就绪探测失败意味着容器不应该接收任何通信从代理，即使它正在运行。
                </div>
                <div ng-if="!container.readinessProbe">
                  <a href="" ng-click="addProbe(container, 'readinessProbe')">添加就绪探针</a>
                </div>
                <div ng-if="container.readinessProbe">
                  <edit-probe
                      probe="container.readinessProbe"
                      exposed-ports="container.ports"
                      ng-if="container.readinessProbe">
                  </edit-probe>
                  <p>
                    <a href="" ng-click="removeProbe(container, 'readinessProbe')">移除就绪探针</a>
                  </p>
                </div>
                <h3>活动探针</h3>
                <div class="help-block mar-bottom-md" ng-if="$first">
                  活动探针检查容器是否仍在运行。如果活动探测失败，容器将被杀死。
                </div>
                <div ng-if="!container.livenessProbe">
                  <a href="" ng-click="addProbe(container, 'livenessProbe')">添加活动探针</a>
                </div>
                <div ng-if="container.livenessProbe">
                  <edit-probe
                      probe="container.livenessProbe"
                      exposed-ports="container.ports">
                  </edit-probe>
                  <p>
                    <a href="" ng-click="removeProbe(container, 'livenessProbe')">移除活动探针</a>
                  </p>
                </div>
              </div>

              <pause-rollouts-checkbox
                  ng-if="object | managesRollouts"
                  deployment="object">
              </pause-rollouts-checkbox>

              <div class="button-group gutter-top gutter-bottom">
                <button type="submit"
                  class="btn btn-primary btn-lg"
                  ng-click="save()"
                  ng-disabled="form.$invalid || form.$pristine || disableInputs"
                  value="">保存</button>
                <button class="btn btn-default btn-lg" ng-click="cancel()">取消</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div><!-- /middle-content -->
</div><!-- /middle -->
