<div class="jenkinsfile-examples">
  <p>
    Jenkinsfile是定义流水线的Groovy脚本。在Jenkinsfile中，可以声明流水线的阶段，并在每个阶段中运行一个或多个步骤。下面是一些可以在流水线中使用的示例。
  </p>
  <p>
    运行OpenShift构建和部署:
    <copy-to-clipboard
      display-wide="true"
      clipboard-text="'node {
  stage(\'Build\') {
    openshiftBuild(buildConfig: \'my-build-config\', showBuildLogs: \'true\')
  }
  stage(\'Deploy\') {
    openshiftDeploy(deploymentConfig: \'my-deployment-config\')
  }
}
'" multiline="true">
    </copy-to-clipboard>
  </p>
  <p>
    签出源代码并在标记为<var>maven</var>的节点上运行shell命令：
    <copy-to-clipboard
      display-wide="true"
      clipboard-text="'node(\'maven\') {
  stage(\'Checkout\') {
    checkout scm
  }
  stage(\'Build\') {
    sh \'mvn install\'
  }
  stage(\'Unit Test\') {
    sh \'mvn test\'
  }
}
'" multiline="true">
    </copy-to-clipboard>
  </p>
  <p>
    手动输入提示:
    <copy-to-clipboard
      display-wide="true"
      clipboard-text="'node {
  stage(\'Approve\') {
    input \'Promote to production?\'
  }
}
'" multiline="true">
    </copy-to-clipboard>
  </p>
  <p>
    了解更多关于
    <a ng-href="{{ 'pipeline-builds' | helpLink}}" target="_blank">流水线构建</a>
    和
    <a ng-href="{{ 'pipeline-plugin' | helpLink}}" target="_blank">OpenShift 流水线插件</a>.
  </p>
</div>
