<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container gutter-top">
      <div class="row">
        <div class="col-md-12">
          <div class="about">
            <h1>Red Hat OpenShift <span class="about-reg">&reg;</span></h1>
            <h2>关于</h2>
            <p>
              <a target="_blank" href="http://okd.io">OpenShift</a> 是Red Hat的容器应用程序平台，允许开发人员在云环境中快速开发、托管和扩展应用程序。
            </p>

            <h2 id="version">版本</h2>
            <dl class="dl-horizontal left">
              <dt>OpenShift Master:</dt>
              <dd>
                {{version.master.openshift}}
              </dd>
              <dt>Kubernetes Master:</dt>
              <dd>
                {{version.master.kubernetes}}
              </dd>
              <dt>OpenShift Web Console:</dt>
              <dd>
                {{version.console}}
              </dd>
            </dl>

            <p>
               <a target="_blank" ng-href="{{'welcome' | helpLink}}">文档</a> 帮助您了解OpenShift并开始探索它的特性。从创建第一个应用程序开始，到尝试更高级的构建和部署技术，它提供了作为应用程序开发人员设置和管理OpenShift环境的指导。
            </p>

            <p>
              使用OpenShift命令行接口(CLI)，您可以从终端创建应用程序并管理OpenShift项目。开始使用CLI, 请访问
              <a href="command-line">命令行工具</a>.
            </p>

            <h2>账号</h2>
            <p>
              您目前登录的账号是<strong>{{user.metadata.name}}</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /middle-content -->
</div><!-- /middle -->
