<div class="add-to-project middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div ng-show="!pvcs || !attach.resource">加载中...</div>

          <div ng-show="pvcs && !pvcs.length && attach.resource" class="empty-state-message empty-state-full-page text-center">
            <h2>没有持久卷声明.</h2>

            <p>
              一个 <b>持久卷声明</b> 被要求附加到 {{kind | humanizeKind}},
              但是这个项目上没有加载任何文件。
            </p>

            <div ng-if="project && (pvcVersion | canI : 'create')">
              <a ng-href="project/{{project.metadata.name}}/create-pvc"
                 class="btn btn-primary">创建存储</a>
            </div>

            <p ng-if="project && !(pvcVersion | canI : 'create')">
              要从持久卷声明存储，请参阅使用持久卷的<a target="_blank" ng-href="{{'persistent_volumes' | helpLink}}">文档</a>.
            </p>

            <p ng-if="attach.resource"><a ng-href="{{attach.resource | navigateResourceURL}}">返回 {{kind | humanizeKind}} {{name}}</a></p>
          </div>

          <div ng-show="pvcs && pvcs.length && attach.resource" class="mar-top-xl">
            <h1>添加存储到 {{name}}</h1>
            <div class="help-block">
              向 {{kind | humanizeKind}} {{name}} 模板添加一个现有的持久卷声明。
            </div>
            <form name="attachPVCForm" class="mar-top-lg">
              <fieldset ng-disabled="disableInputs">
                <div class="form-group">
                  <label for="persistentVolumeClaim" class="required">存储</label>
                  <table style="margin-bottom:0;background-color:transparent;" class="table table-condensed table-borderless">
                    <tbody>
                      <tr ng-repeat="pvc in pvcs track by (pvc | uid)">
                        <td style="padding-left:0;">
                          <input
                            type="radio"
                            name="persistentVolumeClaim"
                            ng-model="attach.persistentVolumeClaim"
                            ng-value="pvc"
                            ng-change="onPVCSelected()"
                            aria-describedby="pvc-help">
                        </td>
                        <td><a ng-href="{{pvc | navigateResourceURL}}" target="_blank">{{pvc.metadata.name}}</a></td>
                        <td ng-if="pvc.spec.volumeName">{{pvc.status.capacity['storage'] | usageWithUnits: 'storage'}}</td>
                        <td ng-if="!pvc.spec.volumeName">{{pvc.spec.resources.requests['storage'] | usageWithUnits: 'storage'}}</td>
                        <td>({{pvc.spec.accessModes | accessModes | join}})</td>
                        <td>
                          {{pvc.status.phase}}
                          <span ng-if="pvc.spec.volumeName">
                            to volume <strong>{{pvc.spec.volumeName}}</strong>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div ng-if="!(project && (pvcVersion | canI : 'create'))" class="help-block">
                  选择要使用的存储。
                </div>
                <div ng-if="project && (pvcVersion | canI : 'create')" class="help-block">
                  选择要使用的存储<span ng-if="!outOfClaims"> 或 <a ng-href="project/{{project.metadata.name}}/create-pvc" >创建存储</a>。</span>
                  <span ng-if="outOfClaims">. You cannot create new storage since you are at quota.</span>
                </div>

                <h3>卷</h3>
                <div class="help-block">
                  指定有关如何在容器内装载卷的详细信息。
                </div>

                <div class="form-group mar-top-xl">
                  <label for="mount-path">挂载路径</label>
                  <input
                      id="mount-path"
                      class="form-control"
                      type="text"
                      name="mountPath"
                      ng-model="attach.mountPath"
                      ng-pattern="/^\/.*$/"
                      osc-unique="existingMountPaths"
                      placeholder="example: /data"
                      autocorrect="off"
                      autocapitalize="none"
                      spellcheck="false"
                      aria-describedby="mount-path-help">
                  <div>
                    <span id="mount-path-help" class="help-block">容器内卷的安装路径。如果没有指定，卷将不会自动挂载。</span>
                  </div>
                  <div class="has-error" ng-show="attachPVCForm.mountPath.$error.pattern && attachPVCForm.mountPath.$touched">
                    <span class="help-block">
                      挂载路径必须是从根目录<code>/</code>开始的有效路径。
                    </span>
                  </div>
                  <div class="has-error" ng-show="attachPVCForm.mountPath.$error.oscUnique">
                    <span class="help-block">
                      Volume mount in that path already exists. Please choose another mount path.
                      卷挂载的路径已经存在。请选择另一条挂载路径。
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="sub-path">子路径</label>
                  <input
                      id="sub-path"
                      class="form-control"
                      type="text"
                      name="subPath"
                      ng-model="attach.subPath"
                      placeholder="example: application/resources"
                      ng-pattern="RELATIVE_PATH_PATTERN"
                      autocorrect="off"
                      autocapitalize="none"
                      spellcheck="false"
                      aria-describedby="sub-path-help">
                  <div id="sub-path-help" class="help-block">
                    卷中的可选路径，从该路径可以将卷装入容器。默认为卷的根目录。
                  </div>
                  <div class="has-error" ng-show="attachPVCForm.subPath.$error.pattern && attachPVCForm.subPath.$touched">
                    <span class="help-block">
                      路径必须是相对路径。路径不能以 <code>/</code>开头，或者包含 <code>..</code> 路径元素。
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="volume-name">卷名</label>
                  <!--
                    Volume name must conform to a DNS label
                    https://github.com/kubernetes/kubernetes/blob/master/docs/design/identifiers.md
                    https://github.com/kubernetes/kubernetes/blob/d7a87c228506ed11240049ae95cbb4efb07fd178/pkg/util/validation/validation.go#L61-L70
                    Reuse the volume name and disable uniqueness validation if it's already mounted under another mount path / subpath.
                  -->
                  <input
                      id="volume-path"
                      class="form-control"
                      type="text"
                      name="volumeName"
                      ng-model="attach.volumeName"
                      ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/"
                      ng-readonly="volumeAlreadyMounted"
                      osc-unique="existingVolumeNames"
                      osc-unique-disabled="volumeAlreadyMounted"
                      maxlength="63"
                      placeholder="(generated if empty)"
                      autocorrect="off"
                      autocapitalize="none"
                      spellcheck="false"
                      aria-describedby="volume-name-help">
                  <div>
                    <span id="volume-name-help" class="help-block">用于标识此卷的唯一名称。如果没有指定，将生成卷名。</span>
                  </div>
                  <div class="has-error" ng-show="attachPVCForm.volumeName.$error.pattern && attachPVCForm.volumeName.$touched">
                    <span class="help-block">
                      卷名只能包含小写字母、数字和破折号。 它们不能以破折号开始或结束。
                    </span>
                  </div>
                  <div class="has-error" ng-show="attachPVCForm.volumeName.$error.maxlength">
                    <span class="help-block">
                      卷名不能超过63个字符。
                    </span>
                  </div>
                  <div class="has-error" ng-show="attachPVCForm.volumeName.$error.oscUnique">
                    <span class="help-block">
                      卷名已经存在。请选择其它名字。
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="attach.readOnly" aria-describedby="read-only-help">
                      只读
                    </label>
                    <div id="read-only-help" class="help-block">
                      将卷挂载为只读。
                    </div>
                  </div>
                </div>

                <!-- Prompt for containers only if there is more than one. -->
                <div ng-if="attach.resource.spec.template.spec.containers.length > 1">
                  <div ng-if="attach.allContainers">
                    卷将装入所有容器。 你可以
                    <a href="" ng-click="attach.allContainers = false">选择特定的容器</a>
                    代替。
                  </div>

                  <div ng-if="!attach.allContainers" class="form-group">
                    <label class="required">容器</label>
                    <select-containers
                        ng-model="attach.containers"
                        pod-template="attach.resource.spec.template"
                        ng-required="true"
                        help-text="将卷添加到所选容器。">
                    </select-containers>
                  </div>
                </div>

                <pause-rollouts-checkbox
                    ng-if="attach.resource | managesRollouts"
                    deployment="attach.resource">
                </pause-rollouts-checkbox>

                <div class="button-group gutter-top gutter-bottom">
                  <button type="submit"
                      class="btn btn-primary btn-lg"
                      ng-click="attachPVC()"
                      ng-disabled="attachPVCForm.$invalid || disableInputs || !attachPVC">添加</button>
                  <a class="btn btn-default btn-lg" role="button" ng-click="cancel()">取消</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div><!-- /col-md-* -->
      </div>
    </div>
  </div><!-- /middle-content -->
</div><!-- /middle -->
