<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container gutter-top">
      <div class="row">
        <div class="col-md-12">
          <div class="command-line">
            <h1 id="cli">命令行工具</h1>
            <p>
              使用OpenShift命令行接口 (CLI), 您可以从终端创建应用程序并管理OpenShift项目。
              <span ng-if="cliDownloadURLPresent">
                你可以使用以下链接下载 <code>oc</code> 客户端工具。 有关下载和安装它的更多信息， 请参阅<a target="_blank" href="{{'get_started_cli' | helpLink}}">开始使用CLI</a> 文档。
              </span>
              <span ng-if="!cliDownloadURLPresent">
                参阅 <a target="_blank" href="{{'get_started_cli' | helpLink}}">开始使用CLI</a> 文档了解有关<code>oc</code>客户端下载和安装的说明。
              </span>
              <div ng-if="cliDownloadURLPresent">
                <label class="cli-download-label">下载 <code>oc</code>:</label>
                <div ng-repeat="(key, value) in cliDownloadURL">
                  <!--
                     Use target="_self" so that the Angular router doesn't rewrite the link when the download is served using an extension.
                     See https://docs.angularjs.org/guide/$location#html-link-rewriting
                  -->
                  <a ng-href="{{value}}" class="cli-download-link" target="_self">
                    {{key}}
                    <i class="fa fa-external-link"></i>
                  </a>
                </div>
              </div>
            </p>
            <p>
              下载并安装之后，您可以开始登录。您目前以 <strong>{{user.metadata.name}}</strong>身份登录到此控制台。如果您想使用相同的会话令牌登录CLI:
              <copy-to-clipboard ng-if="sessionToken" display-wide="true" clipboard-text="'oc login ' + loginBaseURL + ' --token=' + sessionToken" input-text="'oc login ' + loginBaseURL + ' --token=<hidden>'"></copy-to-clipboard>
              <copy-to-clipboard ng-if="!sessionToken" display-wide="true" clipboard-text="'oc login ' + loginBaseURL"></copy-to-clipboard>
            </p>

            <div ng-if="sessionToken" class="alert alert-warning">
              <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
              <strong>令牌是密码的一种形式。</strong>
              不要共享API令牌。若要显示令牌，请按“复制到剪贴板”按钮，然后粘贴剪贴板内容。
            </div>

            <p>当你登入你的帐户后，你会得到一个项目列表，你可以在以下项目之间切换:
              <copy-to-clipboard display-wide="true" clipboard-text="'oc project <project-name>'"></copy-to-clipboard>
            </p>

            <p>如果您没有任何现有的项目，您可以创建一个:
              <copy-to-clipboard display-wide="true" clipboard-text="'oc new-project <project-name>'"></copy-to-clipboard>
            </p>

            <p>展示当前项目的高水平概述:
              <copy-to-clipboard display-wide="true" clipboard-text="'oc status'"></copy-to-clipboard>
            </p>

            <p>有关命令行工具的其他信息， 请查看 <a target="_blank" href="{{'cli' | helpLink}}">CLI参考</a> 和 <a target="_blank" href="{{'basic_cli_operations' | helpLink}}">基础CLI操作</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /middle-content -->
</div><!-- /middle -->
