<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div class="mar-top-xl">
            <h1>创建配置映射</h1>
            <div class="help-block">
              配置映射保存的键/值对可用于Pods读取应用程序的配置。
            </div>
            <form name="createConfigMapForm" class="mar-top-xl">
              <fieldset ng-disabled="disableInputs">
                <edit-config-map-or-secret model="configMap" type="config-map" show-name-input="true"></edit-config-map-or-secret>
                <div class="button-group gutter-top gutter-bottom">
                  <button type="submit"
                      class="btn btn-primary btn-lg"
                      ng-click="createConfigMap()"
                      ng-disabled="createConfigMapForm.$invalid || disableInputs"
                      value="">创建</button>
                  <a class="btn btn-default btn-lg" href="" ng-click="cancel()" role="button">关闭</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /middle-content -->
</div><!-- /middle -->
