<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div ng-show="!containers.length">加载中...</div>
          <form ng-if="containers.length" name="form" class="set-limits-form" novalidate>
            <h1>资源限制: {{name}}</h1>
            <div class="help-block">
              资源限制控制容器在节点上能使用多少 <span ng-if="!hideCPU">CPU 和</span> 内存。
              <div class="learn-more-block" ng-class="{ 'gutter-bottom': showPodWarning }">
                <a href="{{'compute_resources' | helpLink}}" target="_blank">了解更多 <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </div>
            </div>
            <div ng-if="showPodWarning" class="alert alert-warning">
              <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
              更改将只适用于新的pod。
            </div>
            <fieldset ng-disabled="disableInputs">
              <div ng-repeat="container in containers"
                   ng-init="formName = container.name + '-form'">
                <h2 ng-if="containers.length > 1">容器 {{container.name}}</h2>
                <edit-request-limit
                    resources="container.resources"
                    type="cpu"
                    limit-ranges="limitRanges"
                    project="project">
                </edit-request-limit>
                <edit-request-limit
                    resources="container.resources"
                    type="memory"
                    limit-ranges="limitRanges"
                    project="project">
                </edit-request-limit>
              </div>
              <div ng-repeat="problem in cpuProblems" class="has-error">
                <span class="help-block">{{problem}}</span>
              </div>
              <div ng-repeat="problem in memoryProblems" class="has-error">
                <span class="help-block">{{problem}}</span>
              </div>

              <pause-rollouts-checkbox
                  ng-if="object | managesRollouts"
                  deployment="object">
              </pause-rollouts-checkbox>

              <div class="button-group gutter-top gutter-bottom">
                <button type="submit"
                  class="btn btn-primary btn-lg"
                  ng-click="save()"
                  ng-disabled="form.$pristine || form.$invalid || disableInputs || cpuProblems.length || memoryProblems.length"
                  value="">保存</button>
                <button class="btn btn-default btn-lg" ng-click="cancel()">取消</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div><!-- /middle-content -->
</div><!-- /middle -->
